<footer class="footer">
  <a href="#" class="brand">
    <img src="../../../assets/images/Brand-Lucro.svg" alt="logo Lucro" />
  </a>

  <div class="footer-top">
    <div class="lucro-app-navbar">
      <ul class="footer-navbar">
        <a href="https://lucro-app.com" class="footer-navbar__title" target="_blank">Lucro App</a>
        <li class="footer-navbar__item">
          <a href="https://lucro-app.com/quees" class="footer-navbar__item--link" target="_blank">¿Qué es Lucro App?</a>
        </li>
        <li class="footer-navbar__item">
          <a href="https://lucro-app.com/como" class="footer-navbar__item--link" target="_blank">¿Cómo te Lucras?</a>
        </li>
        <li class="footer-navbar__item">
          <a href="https://lucro-app.com/comunidad" class="footer-navbar__item--link" target="_blank">La comunidad</a>
        </li>
      </ul>
    </div>

    <div class="lucro-inside-navbar">
      <ul class="footer-navbar">
        <a routerLink="/home" class="footer-navbar__title">Lucro Inside</a>
        <li class="footer-navbar__item">
          <a routerLink="/empresas" routerLinkActive="active" class="footer-navbar__item--link">Empresas</a>
        </li>
        <li class="footer-navbar__item">
          <a routerLink="/soluciones" routerLinkActive="active" class="footer-navbar__item--link">Soluciones</a>
        </li>
        <li class="footer-navbar__item">
          <a routerLinkActive="active" class="footer-navbar__item--link">Tecnología</a>
        </li>
        <li class="footer-navbar__item">
          <a routerLinkActive="active" class="footer-navbar__item--link">Consumidores</a>
        </li>
        <li class="footer-navbar__item">
          <a routerLink="/contactenos" routerLinkActive="active" class="footer-navbar__item--link">Contáctenos</a>
        </li>
      </ul>
    </div>

    <div class="download-links">
      <a class="footer-navbar__title">Descárganos aquí</a>
      <a href="#" class="download-links__link">
        <img
          src="../../../assets/images/appstore.svg"
          alt="imagen de Descárgalo en App Store"
          class="download-links__link--image"
        />
      </a>
      <a href="#" class="download-links__link">
        <img
          src="../../../assets/images/googleplay.svg"
          alt="imagen de Descárgalo en App Store"
          class="download-links__link--image"
        />
      </a>
    </div>
  </div>

  <hr />

  <div class="footer-bottom">
    <div class="footer-bottom__text">
      <p>
        Ⓒ2020 Lucro App - <a href="https://lucro-app.com/documentos/Lucro-Terminos_y_Condiciones_de_Uso.pdf" target="_blank">Términos y Condiciones</a> de Lucro App y
        <a href="https://lucro-app.com/documentos/Lucro-Politica_de_Privacidad_de_Datos.pdf" target="_blank">Políticas de Privacidad</a> - <a href="https://lucro-app.com/documentos/Lucro-Reglamento.pdf" target="_blank">Reglamento Lucro</a>
      </p>
      <p>
        Av. Calle 72
        No. 6-30 Piso 20, Bogotá - Lucro es una plataforma de Web Connect SAS
        con NIT. 901.095.548-1
      </p>
    </div>

    <div class="footer-bottom__social">
      <ul class="social-list">
        <li class="social-list__item">
          <a href="https://www.instagram.com/lucroappoficial/" class="social-list__link" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li class="social-list__item">
          <a href="https://www.linkedin.com/company/lucro-app-col/" class="social-list__link" target="_blank"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link" target="_blank"
            ><i class="fab fa-youtube"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
