@import "./theme/settings";

.footer {
  @include flexbox(center, center, column);
  position: relative;
  margin-top: 7em;
  padding-inline: 10%;

  .brand {
    margin-bottom: 2.5em;
  }

  &-top {
    @include flexbox(center, center, column);

    .footer-navbar {
      text-align: center;
      margin-top: 2em;

      &__title {
        @include fontStyle(16px, 20px, $--fw-black, #000, undefined);
        margin-bottom: 16px;
      }

      &__item {
        @include fontStyle(14px, 20px, $--fw-light, undefined, undefined);
        margin-top: 18px;

        &--link {
          color: $--clr-font-dark;
          &:hover {
            opacity: 0.8;
          }
          &:active {
            color: $--clr-lucro-red;
          }
        }
      }
    }

    .download-links {
      @include flexbox(center, center, column);
      margin-block: 2em;

      &__link {
        margin-bottom: 12px;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }

  hr {
    height: 1px;
    width: 100%;
  }

  &-bottom {
    @include flexbox(space-between, center, column-reverse);
    margin-bottom: 3em;
    text-align: center;

    &__text {
      width: 101%;
      @include fontStyle(12px, 16px, $--fw-black, $--clr-font-dark, undefined);

      a {
        color: #000;
        text-decoration: underline;

        &:hover {
          color: rgb(30, 59, 226);
        }
        &:visited {
          color: rgb(116, 27, 231);
        }
      }
    }

    &__social {
      .social-list {
        @include flexbox(center, center, row);

        &__item {
          padding: 7px;
          margin: 1.3em 8px;
          background-color: #e1e5e4;
          color: #111;
          border-radius: 50%;

          .social-list__link {
            color: $--clr-font-dark;
            &:hover {
              opacity: 0.8;
            }
            &:active {
              color: $--clr-lucro-red;
            }
          }
        }
      }
    }
  }

  @include sm {
    @include flexbox(center, flex-start, column);
    margin-top: 15em;

    &-top {
      @include flexbox(initial, flex-start, row);
      width: 100%;

      .footer-navbar {
        text-align: initial;
        margin-top: 0;
        margin-right: 3em;
      }

      .download-links {
        margin-left: auto;
      }
    }

    &-bottom {
      width: 100%;
    }
  }

  @include md {
    &-top {
      .footer-navbar {
        &__item {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }

    &-bottom {
      &__text {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  @include lg {
    height: fit-content;
    margin-top: 3em;

    &-top {
      .footer-navbar {
        margin-right: 8em;

        &__item {
          margin-bottom: 22px;
        }
      }
    }
  }

  @include xl {
    &-top {
      .footer-navbar {
        margin-right: 10em;

        &__item {
          margin-bottom: 24px;
        }
      }
    }

    &-bottom {
      flex-direction: row;
      margin-top: 1.5em;
      text-align: initial;
    }
  }
}
