<section class="home" #home>
  <div class="home__image">
    <img *ngFor="let img of sectionOne.images" [src]="img.src" [class]="img.class" />
  </div>
  <article class="home__text">
    <h1 class="home__text--title">{{ sectionOne?.title }}</h1>
    <p class="home__text--paragraph">
      {{ sectionOne?.body }}
    </p>
  </article>
</section>

<section class="purpose" #purpose>
  <div class="purpose__image">
    <img *ngFor="let img of sectionTwo.images" [src]="img.src" [class]="img.class" />
  </div>
  <article class="purpose__text">
    <h1 class="purpose__text--title">{{ sectionTwo?.title }}</h1>
    <p class="purpose__text--paragraph">{{ sectionTwo?.body }}</p>
  </article>
  <img src="/assets/images/Vector.svg" class="backLogo" />
</section>

<section class="beliefs" #beliefs>
  <div class="our-clients">
    <h5>Ellos son nuestros clientes</h5>
    <ul class="our-clients__brands">
      <li *ngFor="let cliente of clientes">
        <img [src]="cliente.src">
      </li>
    </ul>
  </div>
  <div class="section-contain">
    <div class="beliefs__image">
      <img *ngFor="let img of sectionThree.images" [src]="img.src" [class]="img.class" />
    </div>
    <article class="beliefs__text">
      <h2 class="beliefs__text--title">{{sectionThree?.title}}</h2>
      <p class="beliefs__text--paragraph">
        {{sectionThree?.body}}
      </p>
    </article>
  </div>
</section>

<section class="work" #work>
  <div class="work__image">
    <img *ngFor="let img of sectionFour.images" [src]="img.src" [class]="img.class" />
  </div>
  <article class="work__text">
    <h2 class="work__text--title">¿Cómo trabajamos<br />con los clientes</h2>
    <p class="work__text--paragraph">
      {{sectionFour?.body}}
    </p>
    <button routerLink="/contactenos" class="btn-ghost">Contáctanos</button>
  </article>
</section>
