<section class="home">
  <div class="home__image">
    <img src="../../../assets/images/Group 35.svg" class="home__image1" />
    <img src="../../../assets/images/Rectangle 241.png" class="home__image2" />
    <img src="../../../assets/images/Rectangle 238.png" class="home__image3" />
    <img src="../../../assets/images/Ellipse 44.svg" class="home__image4" />
    <img src="../../../assets/images/Ellipse 42.png" class="home__image5" />
    <img src="../../../assets/images/Ellipse 43.png" class="home__image6" />
    <img src="../../../assets/images/Group 31.svg" class="home__image7" />
  </div>
  <article class="home__text">
    <h1 class="home__text--title">¿Qué es Lucro para empresas?</h1>
    <p class="home__text--paragraph">
      Fortalece tus procesos empresariales con nuestras soluciones de software a la medida. Con Lucro Inside estarás a la vanguardia en la implementación de sistemas para calcular variables de interés que mejoren las estrategias de negocio e impulsen la relación entre clientes y productos.
    </p>
  </article>
</section>

<section class="purpose">
  <div class="purpose__image">
    <img src="../../../assets/images/Path 997.svg" class="purpose__image1">
    <img src="../../../assets/images/Group 1461.svg" class="purpose__image2">
    <img src="../../../assets/images/Group 31.png" class="purpose__image3">
    <img src="../../../assets/images/concentrated-dark-skinned-freelancer-holds-paper-documents-and-mobile-phone-works-remotely-in-coworking-space-watches-digital-online-webinar-thinks-about-organisation-plan 1.png" class="purpose__image4">
  </div>
  <article class="purpose__text">
    <h1 class="purpose__text--title">Nuestro propósito</h1>
    <p class="purpose__text--paragraph">Somos una empresa colombiana orientada a ofrecer servicios de tecnología, soluciones de software y transformación digital para empresas. Para Lucro, la investigación e inmersión profunda sobre los datos estadísticos del consumidor y el mercado garantizan el éxito en las estrategias empresariales. Investigación, análisis de datos, estrategia y ejecución son los pilares que defendemos. Esto ha hecho que grandes empresas líderes en Colombia trabajen de la mano con Lucro-inside para potencializar su core de negocio.</p>
  </article>
  <img src="../../../assets/images/Vector.svg" class="backLogo">
</section>

<section class="beliefs">
  <div class="beliefs__image">
    <img src="../../../assets/images/Ellipse 44.svg" class="beliefs__image1">
    <img src="../../../assets/images/Ellipse 42.svg" class="beliefs__image2">
    <img src="../../../assets/images/Ellipse 43.svg" class="beliefs__image3">
    <img src="../../../assets/images/Group 31.svg" class="beliefs__image4">
    <img src="../../../assets/images/satisfied-couple-making-fist-bump-gesture 2.png" class="beliefs__image5">
  </div>
  <article class="beliefs__text">
    <h2 class="beliefs__text--title">¿En qué creemos?</h2>
    <p class="beliefs__text--paragraph">En Lucro creemos en la participación de cada individuo en la sociedad y en la inclusión de todos sin importar sus diferencias de pensamiento, orientación sexual y creencias, por eso contamos con un equipo diverso de profesionales, colaboradores y líderes que trabajan día a día por generar una buena experiencia de usuario y utilizar nuestra tecnología para crear plataformas y recursos que generen un impacto positivo en las empresas.</p>
  </article>
</section>

<section class="work">
  <div class="work__image">
    <img src="../../../assets/images/Polygon 3.svg" class="work__image1" />
    <img
      src="../../../assets/images/inside/Ellipse 42.svg"
      class="work__image2"
    />
    <img
      src="../../../assets/images/inside/Ellipse 44.svg"
      class="work__image3"
    />
    <img
      src="../../../assets/images/Group 31.svg"
      class="work__image4"
    />
    <img
      src="../../../assets/images/diverse-hands-united-community-care-gesture 1.png"
      class="work__image5"
    />
  </div>
  <article class="work__text">
    <h2 class="work__text--title">¿Cómo trabajamos<br />con los clientes</h2>
    <p class="work__text--paragraph">
      En Lucro trabajamos de la mano con los clientes, estudiamos sus
      necesidades y profundizamos en los datos estadísticos de nuestra base
      adecuados a cada perfil para así proponer las mejores soluciones que
      requieran y apoyarlos con sus objetivos de negocio. Nuestros estudios de
      mercado representan a comunidades y culturas de Colombia y el mundo porque
      creemos que basados en ese entendimiento profundo de los gustos e
      intereses de las personas se pueden generar mejores oportunidades de
      crecimiento en los diferentes sectores de la economía.
    </p>
    <button class="btn-ghost">Contáctanos</button>
  </article>
</section>
