@import "./theme/settings";

::ng-deep {
  .swiper-wrapper,
  .swiper-wrapper-navbar {
    height: 100%;
  }
  .questions {
    @include flexbox(space-between, center, column);
    display: none;
    position: absolute;
    top: 0.7rem;
    height: 90%;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    .questions__item {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0.85);
      scroll-snap-align: center !important;
      .question {
        @include fontStyle(
          12px,
          16px,
          $--fw-light,
          $--clr-font-regular,
          undefined
        );
        letter-spacing: 0.004em;
        background-color: #ffffff;
        box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.1), 0px 14px 21px 2px rgba(0, 0, 0, 0.07), 0px 5px 26px 4px rgba(0, 0, 0, 0.06);
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
      }
      &.swiper-slide-next {
        transform: scale(0.95);
        .question {
          font-weight: $--fw-bold;
        }
      }
    }
    @include sm {
      top: 0.77rem;
      .questions__item {
        .question {
          font-size: 13.2px;
          line-height: 17.6px;
          letter-spacing: 0.0044em;
          padding: 0.825rem 1.1rem;
          border-radius: 0.55rem;
        }
      }
    }
    @include md {
      top: 0.91rem;
      .questions__item {
        .question {
          font-size: 15.6px;
          line-height: 20.8px;
          letter-spacing: 0.0052;
          padding: 0.975rem 1.3rem;
          border-radius: 0.65rem;
        }
      }
    }
    @include xl {
      top: 0.91rem;
      .questions__item {
        .question {
          font-size: 15.6px;
          line-height: 20.8px;
          letter-spacing: 0.0052;
          padding: 0.975rem 1.3rem;
          border-radius: 0.65rem;
        }
      }
    }
    @media screen and (min-width: 1400px) {
      top: 1.5rem;
    }
  }
  .navbar {
    @include flexbox(space-between, flex-start, column);
    height: 21.25rem;
    &__item {
      text-align: right;
      button {
        background: transparent;
        border-style: none;
        cursor: pointer;
        div {
          content: "";
          background-color: $--clr-font-light;
          height: 0.125rem;
          width: 0.375rem;
        }
        .solucion-label {
          display: none;
        }

        &:hover,
        &:active,
        &.active,
        &:focus {
          div {
            height: 0.25rem;
            width: 0.75rem;
            background-color: $--clr-lucro-red;
          }
        }
      }
    }
    @include lg {
      align-items: flex-end;
      min-height: 100%;
      width: 100%;
      margin-left: auto;
      &__item {
        height: 100%;
        width: 100%;
        button {
          div {
            display: none;
          }
          .solucion-label {
            display: block;
            max-width: 4.2025rem;
            text-align: right;
            @include fontStyle(
              11.2px,
              14.168px,
              $--fw-light,
              $--clr-font-light,
              undefined
            );
            opacity: 1;
            pointer-events: none;
          }
          &:hover,
          &.highlighted,
          &.swiper-slide-active,
          &:focus {
            .solucion-label {
              @include fontStyle(
                12px,
                14.168px,
                $--fw-bold,
                $--clr-font-regular,
                undefined
              );
              position: relative;
              right: 0;
              &::after {
                content: "";
                position: absolute;
                width: 72px;
                height: 2px;
                bottom: -0.4em;
                right: 0;
                background: $--clr-lucro-red;
              }
            }
          }
        }
      }
    }
    @media (min-width: 1400px) {
      width: 60%;
      &__item {
        button {
          .solucion-label {
            font-size: 14px;
            line-height: 17.71px;
            max-width: 5.253125rem;
          }
          &:hover,
          &:active,
          &:focus {
            .solucion-label {
              font-size: 16px;
              line-height: 17.71px;
              font-weight: $--fw-bold;
            }
          }
        }
      }
    }
  }
}

.soluciones {
  @include flexbox(center, center, column);
  padding-top: 4.5em;
  overflow-y: hidden;
  height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }

  nav {
    position: fixed;
    width: 0.375rem;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: all 0s;
  }

  .evaluacionDesempeno,
  .machineLearning,
  .solucionesDashboard,
  .solucionesRPA,
  .investigacionSegmentada,
  .codigosQR,
  .realidadAumentada,
  .ads,
  .scraper,
  .chatbot {
    @include flexbox(center, center, column);
    display: none;
    max-width: 96%;
    margin-top: 4.5em;
    margin-bottom: 15em;
    &__image {
      position: relative;
      width: 100%;
    }
    &__text {
      width: 90%;
      min-width: 18rem;
      max-width: 18rem;
      position: relative;

      &--title {
        @include fontStyle(20px, 24px, $--fw-black, #36af67, undefined);
        letter-spacing: 0.15px;
        margin-block: 0.5em 1em;
        max-width: 25rem;
        opacity: 0;
      }
      .btn-ghost {
        @include fontStyle(12px, 16px, $--fw-bold, $--clr-font-regular, uppercase);
        letter-spacing: 0.004em;
        background: transparent;
        width: 70%;
        padding: 0.5rem 0;
        margin-top: 1.5em;
        margin-right: auto;
        border: $--clr-font-dark 2px solid;
        border-radius: 10px;
        cursor: pointer;
        opacity: 0;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          transform: scale(0.95);
        }
      }
      .slider-container {
        overflow: hidden;
        height: 24.5em;
        .upper-tabs {
          display: inline-block;
          justify-content: center;
          cursor: pointer;
          a + a {
            margin-left: 0.2em;
          }
          a {
            padding: 0.5rem 0.1375rem;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.004em;
            margin-top: initial;
            position: relative;
            &.displayed {
              color: #049b41;
              font-weight: $--fw-bold;
              border-bottom: 2px solid $--clr-lucro-red;
            }
            &.hidden {
              color: $--clr-font-light;
              font-weight: $--fw-light;
              border-bottom: 2px solid #DDE3E4;
            }
            &:hover {
              color: #049b41;
            }
          }
          &.unfold {
            a {
              &.displayed {
                color: $--clr-font-light;
                font-weight: $--fw-light;
                border-bottom: 2px solid #DDE3E4;
              }
              &.hidden {
                color: #049b41;
                font-weight: $--fw-bold;
                border-bottom: 2px solid $--clr-lucro-red;
              }
            }
          }
        }
        .slider {
          position: relative;
          display: block;
          height: 100%;
          .description {
            display: block;
            min-width: 17rem;
            max-width: 17rem;

            h6 {
              @include fontStyle(12px, 16px, $--fw-light, $--clr-font-regular, undefined);
              letter-spacing: 0.004em;
              margin-top: 1.6875rem;
              margin-right: auto;
              max-width: 24.5rem;
              opacity: 0;
            }

            p {
              @include fontStyle(12px, 16px, $--fw-light, $--clr-font-light, undefined);
              letter-spacing: 0.004em;
              margin-top: 1.6875rem;
              max-width: 24.5rem;
              opacity: 0;
            }
          }
        }
        &.unfold {
          .slider {
            .description {
              display: none;
            }
            .questions {
              display: initial;
            }
          }
        }
      }
    }
  }
  .evaluacionDesempeno {
    &__image {
      max-width: 10.8125rem;
      height: 13.5rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.evaluacion__image1 {
          position: absolute;
          width: 10.20125rem;
          top: 2.3em;
          opacity: 0;
        }
        &.evaluacion__image2 {
          position: absolute;
          width: 9.625rem;
          left: 0.4em;
          z-index: 2;
          opacity: 0;
        }
        &.evaluacion__image3 {
          position: absolute;
          width: 4.36rem;
          top: 0.5em;
          left: 10.5em;
          z-index: 3;
          opacity: 0;
        }
      }
      .video-container {
        background-color: /*#181919*/ rgb(0, 0, 0);
        position: absolute;
        overflow: hidden;
        border-radius: 16px;
        width: 6.4rem;
        height: 12.2rem;
        top: 0.2em;
        left: 3em;
        z-index: 1;
        opacity: 0;
        video {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .machineLearning {
    &__image {
      max-width: 11.375rem;
      height: 13.4025rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.machineLearning__image1 {
          position: absolute;
          width: 10.11125rem;
          top: 2em;
          opacity: 0;
        }
        &.machineLearning__image2 {
          position: absolute;
          width: 3.949375rem;
          top: 12em;
          left: 11.8em;
          z-index: 2;
          opacity: 0;
        }
        &.machineLearning__image3 {
          position: absolute;
          width: 8.419375rem;
          left: 1.5em;
          z-index: 1;
          opacity: 0;
        }
      }
    }
  }

  .solucionesDashboard {
    &__image {
      max-width: 15.375rem;
      height: 10.31125rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.dashboard__image1 {
          position: absolute;
          width: 9.75rem;
          top: 0.5em;
        }
        &.dashboard__image2 {
          position: absolute;
          width: 14.776875rem;
          left: 1em;
          opacity: 0;
        }
      }
    }
  }

  .solucionesRPA {
    &__image {
      max-width: 12.625rem;
      height: 13.9375rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.rpa__image1 {
          position: absolute;
          width: 6.341875rem;
          top: 10em;
          left: 10em;
        }
        &.rpa__image2 {
          position: absolute;
          width: 10.49125rem;
          opacity: 0;
        }
      }
    }
  }

  .investigacionSegmentada {
    &__image {
      max-width: 13.6875rem;
      height: 13.660625rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.investigacion__image1 {
          position: absolute;
          width: 9.445rem;
          top: 0.2em;
          left: 3em;
          opacity: 0;
        }
        &.investigacion__image2 {
          position: absolute;
          width: 13.6875rem;
          opacity: 0;
        }
      }
    }
  }

  .codigosQR {
    &__image {
      max-width: 12.19875rem;
      height: 12.274375rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.codigos__image1 {
          position: absolute;
          width: 10.381875rem;
          z-index: 1;
          opacity: 0;
        }
        &.codigos__image2 {
          position: absolute;
          width: 9.080625rem;
          top: 3.73em;
          left: 3.75em;
          opacity: 0;
        }
      }
    }
  }

  .realidadAumentada {
    &__image {
      max-width: 10.8125rem;
      height: 13.5rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.realidad__image1 {
          position: absolute;
          width: 10.20125rem;
          top: 2.3em;
          opacity: 0;
        }
        &.realidad__image2 {
          position: absolute;
          width: 9.625rem;
          left: 0.4em;
          z-index: 2;
          opacity: 0;
        }
        &.realidad__image3 {
          position: absolute;
          width: 4.36rem;
          top: 0.5em;
          left: 10.5em;
          z-index: 3;
          opacity: 0;
        }
      }
      .video-container {
        background-color: /*#181919*/ rgb(0, 0, 0);
        position: absolute;
        overflow: hidden;
        border-radius: 16px;
        width: 6.5rem;
        height: 12.2rem;
        top: 0.2em;
        left: 2.8em;
        z-index: 1;
        opacity: 0;
        video {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .ads {
    &__image {
      max-width: 11.564375rem;
      height: 14.8125rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.ads__image1 {
          position: absolute;
          width: 9.199375rem;
          top: 2em;
          opacity: 0;
        }
        &.ads__image2 {
          position: absolute;
          width: 8.8875rem;
          left: 4em;
          opacity: 0;
        }
      }
    }
  }

  .scraper {
    &__image {
      max-width: 9.204375rem;
      height: 14.464375rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.scraper__image1 {
          position: absolute;
          width: 9.1275rem;
          top: 5.7em;
          opacity: 0;
        }
        &.scraper__image2 {
          position: absolute;
          width: 8.869375rem;
          pointer-events: none;
          left: 0.3em;
          z-index: 2;
          opacity: 0;
        }
      }
      .scroll_compara {
        display: none;
      }
      .gift_compara {
        img {
          position: absolute;
          width: 60%;
          height: 19em;
          top: 1.8em;
          left: 4.4em;
          z-index: 1;
          opacity: 0;
        }
      }
    }
  }

  .chatbot {
    &__image {
      max-width: 11.2975rem;
      height: 13.5625rem;

      img {
        max-width: 100%;
        max-height: 100%;
        &.chatbot__image1 {
          position: absolute;
          width: 10.231875rem;
          top: 2em;
          opacity: 0;
        }
        &.chatbot__image2 {
          position: absolute;
          width: 8.52rem;
          left: 1.5em;
          z-index: 2;
          opacity: 0;
        }
        &.chatbot__image3 {
          position: absolute;
          width: 3.996875rem;
          top: 11.5em;
          left: 11.6em;
          z-index: 3;
          opacity: 0;
        }
        &.chatbot__image4 {
          position: absolute;
          width: 3.756875rem;
          top: 14.7em;
          left: 10.6em;
          z-index: 4;
          opacity: 0;
        }
      }
      .video-container {
        background-color: /*#181919*/ rgb(0, 0, 0);
        position: absolute;
        overflow: hidden;
        border-radius: 16px;
        width: 6.2rem;
        height: 12.2rem;
        top: 0.2em;
        left: 3.2em;
        z-index: 1;
        opacity: 0;
        video {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .active {
    &.evaluacionDesempeno,
    &.machineLearning,
    &.solucionesDashboard,
    &.solucionesRPA,
    &.investigacionSegmentada,
    &.codigosQR,
    &.realidadAumentada,
    &.ads,
    &.scraper,
    &.chatbot {
      display: flex;
    }

    &.show {
      h3 {
        animation: fadein-left 500ms ease-in forwards;
      }
      h6 {
        animation: fadein-left 500ms ease-in 200ms forwards;
      }
      p,
      span {
        animation: fadein-left 500ms ease-in 400ms forwards;
      }
      .btn-ghost {
        animation: fadein-left 500ms ease-in 600ms forwards;
      }
      .evaluacionDesempeno,
      .machineLearning,
      .solucionesDashboard,
      .solucionesRPA,
      .investigacionSegmentada,
      .codigosQR,
      .realidadAumentada,
      .ads,
      .scraper,
      .chatbot {
        &__text {
          .slider-container {
            .slider {
              .questions {
                .question {
                  animation: fadein 100ms linear forwards;
                }
              }
            }
          }
        }
      }
      &.evaluacionDesempeno {
        .evaluacion__image1 {
          animation: fadein-right 500ms ease-in forwards;
        }
        .evaluacion__image2 {
          animation: fadein 500ms ease-in 400ms forwards;
        }
        .evaluacion__image3 {
          animation: fadein-left 500ms ease-in 200ms forwards;
        }
        .video-container {
          animation: fadein 500ms ease-in 400ms forwards;
        }
      }
      .machineLearning {
        &__image1 {
          animation: fadein-right 500ms ease-in forwards;
        }
        &__image2 {
          animation: fadein-left 500ms ease-in 250ms forwards;
        }
        &__image3 {
          animation: fadein 2000ms ease-in 700ms forwards;
        }
      }
      &.solucionesDashboard {
        .dashboard__image1 {
          animation: fadein-right 500ms ease-in forwards;
        }
        .dashboard__image2 {
          animation: fadein 500ms ease-in-out 500ms forwards;
        }
      }
      &.solucionesRPA {
        .rpa__image1 {
          animation: fadein-right 500ms ease-in forwards;
        }
        .rpa__image2 {
          animation: fadein 500ms ease-in 500ms forwards;
        }
      }
      &.investigacionSegmentada {
        .investigacion__image1 {
          animation: fadein 500ms ease-in forwards;
        }
        .investigacion__image2 {
          animation: fadein-right 500ms ease-in 500ms forwards;
        }
      }
      &.codigosQR {
        .codigos__image1 {
          animation: fadein 500ms ease-in 400ms forwards;
        }
        .codigos__image2 {
          animation: fadein-left 500ms ease-in forwards;
        }
      }
      &.realidadAumentada {
        .realidad__image1 {
          animation: fadein-right 500ms ease-in forwards;
        }
        .realidad__image2 {
          animation: fadein 500ms ease-in 400ms forwards;
        }
        .realidad__image3 {
          animation: fadein-left 500ms ease-in 200ms forwards;
        }
        .video-container {
          animation: fadein 500ms ease-in 400ms forwards;
        }
      }
      &.ads {
        .ads__image1 {
          animation: fadein-left 500ms ease-in forwards;
        }
        .ads__image2 {
          animation: fadein-down 500ms ease-in 400ms forwards;
        }
      }
      &.scraper {
        img {
          &.scraper__image1 {
            animation: fadein 500ms ease-in forwards;
          }
          &.scraper__image2 {
            animation: fadein-right 500ms ease-in 400ms forwards;
          }
        }
        .scroll_compara {
          animation: fadein-right 500ms ease-in 400ms forwards;
        }
        .gift_compara {
          img {
            animation: fadein-right 500ms ease-in 400ms forwards;
          }
        }
      }
      &.chatbot {
        .chatbot__image1 {
          animation: fadein 500ms ease-in forwards;
        }
        .chatbot__image2 {
          animation: fadein-left 500ms ease-in 400ms forwards;
        }
        .chatbot__image3 {
          animation: fadein 500ms ease-in 800ms forwards;
        }
        .chatbot__image4 {
          animation: fadein-right 500ms ease-in 1200ms forwards;
        }
        .video-container {
          animation: fadein-left 500ms ease-in 400ms forwards;
        }
      }
    }
  }

  @include sm {
    nav {
      width: 0.4125rem;
      .navbar {
        height: 23.375rem;
        &__item {
          button {
            div {
              height: 0.1375rem;
              width: 0.4125;
            }
          }
        }
      }
    }
    .evaluacionDesempeno,
    .machineLearning,
    .solucionesDashboard,
    .solucionesRPA,
    .investigacionSegmentada,
    .codigosQR,
    .realidadAumentada,
    .ads,
    .scraper,
    .chatbot {
      &__text {
        width: 100%;
        min-width: 19.7rem;
        max-width: 19.7rem;
        &--title {
          font-size: 22px;
          line-height: 26.4px;
          letter-spacing: 0.165;
          max-width: 27.5rem;
        }
        .btn-ghost {
          font-size: 13.2px;
          line-height: 17.6px;
          letter-spacing: 0.0044em;
          padding: 0.55rem 0;
          margin-top: 1.65em;
        }
        .slider-container {
          height: 26.95em;
          .upper-tabs {
            width: 110%;
            a + a {
              margin-left: 0;
            }
            a {
              padding: 0.55rem 0.5625rem;
              font-size: 13.2px;
              line-height: 17.6px;
              letter-spacing: 0.0044em;
            }
          }
          .slider {
            .description {
              min-width: 18.7rem;
              max-width: 18.7rem;
              h6,
              p {
                font-size: 13.2px;
                line-height: 17.6px;
                letter-spacing: 0.0044;
                max-width: 26.95rem;
              }
            }
            .questions {
              min-width: 18.7rem;
              max-width: 18.7rem;
            }
          }
        }
      }
    }
    .evaluacionDesempeno {
      &__image {
        max-width: 11.89375rem;
        height: 14.85rem;

        img {
          &.evaluacion__image1 {
            width: 11.221375rem;
            top: 2.53em;
          }
          &.evaluacion__image2 {
            width: 10.5875rem;
            left: 0.44em;
          }
          &.evaluacion__image3 {
            width: 4.796rem;
            top: 0.55em;
            left: 11.55em;
          }
        }
        .video-container {
          width: 7.04rem;
          height: 13.42rem;
          top: 0.22em;
          left: 3.3em;
        }
      }
    }
    .machineLearning {
      &__image {
        max-width: 12.5125rem;
        height: 14.74275rem;

        img {
          &.machineLearning__image1 {
            width: 11.122375rem;
            top: 2.2em;
          }
          &.machineLearning__image2 {
            width: 4.3443125rem;
            top: 13.2em;
            left: 12.98em;
          }
          &.machineLearning__image3 {
            width: 9.2613125rem;
            left: 1.65em;
          }
        }
      }
    }
    .solucionesDashboard {
      &__image {
        max-width: 16.9125rem;
        height: 11.342375rem;

        img {
          &.dashboard__image1 {
            width: 10.725rem;
            top: 0.55em;
          }
          &.dashboard__image2 {
            width: 16.2545625rem;
            left: 1.1em;
          }
        }
      }
    }
    .solucionesRPA {
      &__image {
        max-width: 13.8875rem;
        height: 15.33125rem;

        img {
          &.rpa__image1 {
            width: 6.9760625rem;
            top: 11em;
            left: 11em;
          }
          &.rpa__image2 {
            width: 11.540375rem;
          }
        }
      }
    }
    .investigacionSegmentada {
      &__image {
        max-width: 15.05625rem;
        height: 15.0266875rem;

        img {
          &.investigacion__image1 {
            width: 10.3895rem;
            top: 0.22em;
            left: 3.3em;
          }
          &.investigacion__image2 {
            width: 15.05625rem;
          }
        }
      }
    }
    .codigosQR {
      &__image {
        max-width: 13.418625rem;
        height: 13.5018125rem;

        img {
          &.codigos__image1 {
            width: 11.4200625rem;
          }
          &.codigos__image2 {
            width: 9.9886875rem;
            top: 4.103em;
            left: 4.125em;
          }
        }
      }
    }
    .realidadAumentada {
      &__image {
        max-width: 11.89375rem;
        height: 14.85rem;

        img {
          &.realidad__image1 {
            width: 11.221375rem;
            top: 2.53em;
          }
          &.realidad__image2 {
            width: 10.5875rem;
            left: 0.44em;
          }
          &.realidad__image3 {
            width: 4.796rem;
            top: 0.55em;
            left: 11.55em;
          }
        }
        .video-container {
          border-radius: 17.6px;
          width: 7.15rem;
          height: 13.42rem;
          top: 0.22em;
          left: 3.08em;
        }
      }
    }
    .ads {
      &__image {
        max-width: 12.7208125rem;
        height: 16.29375rem;

        img {
          &.ads__image1 {
            width: 10.1193125rem;
            top: 2.2em;
          }
          &.ads__image2 {
            width: 9.77625rem;
            left: 4.4em;
          }
        }
      }
    }

    .scraper {
      &__image {
        max-width: 10.1248125rem;
        height: 15.9108125rem;

        img {
          &.scraper__image1 {
            width: 10.04025rem;
            top: 6.27em;
          }
          &.scraper__image2 {
            width: 9.7563125rem;
            left: 0.33em;
          }
        }
        .gift_compara {
          img {
            height: 20.9em;
            top: 1.9em;
            left: 4.84em;
          }
        }
      }
    }
    .chatbot {
      &__image {
        max-width: 12.42725rem;
        height: 14.91875rem;

        img {
          &.chatbot__image1 {
            width: 11.2550625rem;
            top: 2.2em;
          }
          &.chatbot__image2 {
            width: 9.372rem;
            left: 1.65em;
          }
          &.chatbot__image3 {
            width: 4.3965625rem;
            top: 12.65em;
            left: 12.76em;
          }
          &.chatbot__image4 {
            width: 4.1325625rem;
            top: 16.17em;
            left: 11.66em;
          }
        }
        .video-container {
          border-radius: 17.6px;
          width: 6.82rem;
          height: 13.42rem;
          top: 0.22em;
          left: 3.52em;
        }
      }
    }
  }

  @include md {
    nav {
      width: 0.4875rem;
      .navbar {
        height: 27.65rem;
        &__item {
          button {
            div {
              height: 0.1625rem;
              width: 0.4875;
            }
          }
        }
      }
    }
    h6,
    p {
      font-size: 15.6px;
      line-height: 20.8px;
      letter-spacing: 0.0052;
      max-width: 31.85rem;
    }
    .evaluacionDesempeno,
    .machineLearning,
    .solucionesDashboard,
    .solucionesRPA,
    .investigacionSegmentada,
    .codigosQR,
    .realidadAumentada,
    .ads,
    .scraper,
    .chatbot {
      &__text {
        min-width: 23.1rem;
        max-width: 23.1rem;
        &--title {
          font-size: 26px;
          line-height: 31.2px;
          letter-spacing: 0.195;
          max-width: 32.5rem;
        }
        .btn-ghost {
          font-size: 15.6px;
          line-height: 20.8px;
          letter-spacing: 0.0052em;
          padding: 0.65rem 0;
          margin-top: 1.95em;
        }
        .slider-container {
          height: 31.85em;
          .upper-tabs {
            width: 100%;
            a {
              padding: 0.65rem 1.25rem;
            }
          }
          .slider {
            .description {
              min-width: 22.1rem;
              max-width: 22.1rem;
              h6,
              p {
                font-size: 15.6px;
                line-height: 20.8px;
                letter-spacing: 0.0052;
                max-width: 31.85rem;
              }
            }
            .questions {
              min-width: 22.1rem;
              max-width: 22.1rem;
            }
          }
        }
      }
    }
    .evaluacionDesempeno {
      &__image {
        max-width: 14.05625rem;
        height: 17.55rem;

        img {
          &.evaluacion__image1 {
            width: 13.261625rem;
            top: 2.99em;
          }
          &.evaluacion__image2 {
            width: 12.5125rem;
            left: 0.52em;
          }
          &.evaluacion__image3 {
            width: 5.668rem;
            top: 0.65em;
            left: 13.65em;
          }
        }
        .video-container {
          width: 8.32rem;
          height: 15.86rem;
          top: 0.26em;
          left: 3.9em;
        }
      }
    }
    .machineLearning {
      &__image {
        max-width: 14.7875rem;
        height: 17.42325rem;

        img {
          &.machineLearning__image1 {
            width: 13.144625rem;
            top: 2.6em;
          }
          &.machineLearning__image2 {
            width: 5.1341875rem;
            top: 15.6em;
            left: 15.34em;
          }
          &.machineLearning__image3 {
            width: 10.9451875rem;
            left: 1.95em;
          }
        }
      }
    }
    .solucionesDashboard {
      &__image {
        max-width: 19.9875rem;
        height: 13.404625rem;

        img {
          &.dashboard__image1 {
            width: 12.675rem;
            top: 0.65em;
          }
          &.dashboard__image2 {
            width: 19.2099375rem;
            left: 1.3em;
          }
        }
      }
    }
    .solucionesRPA {
      &__image {
        max-width: 16.4125rem;
        height: 18.11875rem;

        img {
          &.rpa__image1 {
            width: 8.2444375rem;
            top: 13em;
            left: 13em;
          }
          &.rpa__image2 {
            width: 13.638625rem;
          }
        }
      }
    }
    .investigacionSegmentada {
      &__image {
        max-width: 17.79375rem;
        height: 17.7588125rem;

        img {
          &.investigacion__image1 {
            width: 12.2785rem;
            top: 0.26em;
            left: 3.9em;
          }
          &.investigacion__image2 {
            width: 17.79375rem;
          }
        }
      }
    }
    .codigosQR {
      &__image {
        max-width: 15.858375rem;
        height: 15.9566875rem;

        img {
          &.codigos__image1 {
            width: 13.4964375rem;
          }
          &.codigos__image2 {
            width: 11.8048125rem;
            top: 4.849em;
            left: 4.875em;
          }
        }
      }
    }
    .realidadAumentada {
      &__image {
        max-width: 14.05625rem;
        height: 17.55rem;

        img {
          &.realidad__image1 {
            width: 13.261625rem;
            top: 2.99em;
          }
          &.realidad__image2 {
            width: 12.5125rem;
            left: 0.52em;
          }
          &.realidad__image3 {
            width: 5.668rem;
            top: 0.65em;
            left: 13.65em;
          }
        }
        .video-container {
          border-radius: 20.8px;
          width: 8.45rem;
          height: 15.86rem;
          top: 0.26em;
          left: 3.64em;
        }
      }
    }
    .ads {
      &__image {
        max-width: 15.0336875rem;
        height: 19.25625rem;

        img {
          &.ads__image1 {
            width: 11.9591875rem;
            top: 2.6em;
          }
          &.ads__image2 {
            width: 11.55375rem;
            left: 5.2em;
          }
        }
      }
    }
    .scraper {
      &__image {
        max-width: 11.9656875rem;
        height: 18.8036875rem;

        img {
          &.scraper__image1 {
            width: 11.86575rem;
            top: 7.41em;
          }
          &.scraper__image2 {
            width: 11.5301875rem;
            left: 0.39em;
          }
        }
        .gift_compara {
          img {
            height: 24.7em;
            top: 2.34em;
            left: 5.72em;
          }
        }
      }
    }
    .chatbot {
      &__image {
        max-width: 14.68675rem;
        height: 17.63125rem;

        img {
          &.chatbot__image1 {
            width: 13.3014375rem;
            top: 2.6em;
          }
          &.chatbot__image2 {
            width: 11.076rem;
            left: 1.95em;
          }
          &.chatbot__image3 {
            width: 5.1959375rem;
            top: 14.95em;
            left: 15.08em;
          }
          &.chatbot__image4 {
            width: 4.8839375rem;
            top: 19.11em;
            left: 13.78em;
          }
        }
        .video-container {
          border-radius: 20.8px;
          width: 8.06rem;
          height: 15.86rem;
          top: 0.26em;
          left: 4.16em;
        }
      }
    }
  }

  @include lg {
    margin-inline: auto;
    max-width: 65rem;
    nav {
      min-width: 10%;
      height: 30.6rem;
      &.float {
        position: absolute;
        top: 900vh;
      }
    }
    article {
      max-width: 22.4rem;
      margin-left: 4.5em;
    }
    .evaluacionDesempeno,
    .machineLearning,
    .solucionesDashboard,
    .solucionesRPA,
    .investigacionSegmentada,
    .codigosQR,
    .realidadAumentada,
    .ads,
    .scraper,
    .chatbot {
      justify-content: space-evenly;
      flex-direction: row-reverse;
      margin-top: 0;
      height: 80vh;
      width: 80%;
      padding-top: 6.5rem;
      &__image {
        margin-top: 7.5em;
        margin-left: 3em;
      }
      &__text {
        min-width: 23rem;
        max-width: 23rem;
        &--title {
          margin-block: 0.8em;
          font-size: 38.4px;
          line-height: 48.576px;
          letter-spacing: 0.195;
          min-width: 26rem;
          max-width: 26rem;
        }
        .btn-ghost {
          font-size: 11.2px;
          line-height: 14.168px;
          letter-spacing: 0.8px;
          padding: 1rem 1.2rem;
          min-width: 13.7rem;
        }
        .slider-container {
          .upper-tabs {
            a {
              padding: 0.65rem 1.625rem;
              font-size: 11.2px;
              line-height: 14.168px;
              letter-spacing: 0.08px;
            }
          }
          .slider {
            .description {
              min-width: 22rem;
              max-width: 22rem;
              h6 {
                font-size: 16px;
                line-height: 19.2px;
                letter-spacing: 0.12;
                max-width: 22.25rem;
                margin-top: 2em;
              }
              p {
                font-size: 9.6px;
                line-height: 12.8px;
                letter-spacing: 0.0032;
                max-width: 22.25rem;
              }
            }
            .question {
              min-width: 22rem;
              max-width: 22rem;
            }
          }
        }
      }
    }
    .evaluacionDesempeno {
      &__image {
        min-width: 20.35rem;
        max-width: 20.35rem;
        height: 25.45rem;

        img {
          &.evaluacion__image1 {
            width: 19.2rem;
            top: 3.6em;
          }
          &.evaluacion__image2 {
            width: 15.95rem;
            left: 2.64em;
          }
          &.evaluacion__image3 {
            width: 7.5rem;
            top: 0.52em;
            left: 20.52em;
          }
        }
        .video-container {
          width: 10.8rem;
          height: 22.4rem;
          top: 0.64em;
          left: 6.8em;
        }
      }
    }
    .machineLearning {
      &__image {
        max-width: 21.6rem;
        height: 25.45rem;
        margin: initial;
        padding: initial;

        img {
          &.machineLearning__image1 {
            width: 19.2rem;
            top: 3.44em;
          }
          &.machineLearning__image2 {
            width: 7.5rem;
            top: 22.8em;
            left: 22em;
          }
          &.machineLearning__image3 {
            width: 15.988rem;
            left: 2.64em;
          }
        }
      }
    }
    .solucionesDashboard {
      &__image {
        min-width: 27rem;
        max-width: 27rem;
        height: 21.4rem;

        img {
          &.dashboard__image1 {
            width: 17.7rem;
            top: 6em;
          }
          &.dashboard__image2 {
            width: 25.95rem;
            left: 1.6em;
          }
        }
      }
    }
    .solucionesRPA {
      &__image {
        max-width: 21.3rem;
        height: 21.4rem;

        img {
          &.rpa__image1 {
            width: 10.7rem;
            top: 16.8em;
            left: 16.8em;
          }
          &.rpa__image2 {
            width: 17.7rem;
          }
        }
      }
    }
    .investigacionSegmentada {
      &__image {
        min-width: 25.65rem;
        max-width: 25.65rem;
        height: 25.6rem;

        img {
          &.investigacion__image1 {
            width: 17.7rem;
            top: 0.4em;
            left: 5.6em;
          }
          &.investigacion__image2 {
            width: 25.65rem;
          }
        }
      }
    }
    .codigosQR {
      &__image {
        min-width: 23.7775rem;
        max-width: 23.7775rem;
        height: 23.925rem;

        img {
          &.codigos__image1 {
            width: 20.75rem;
          }
          &.codigos__image2 {
            width: 17.7rem;
            top: 8.352em;
            left: 7.816em;
          }
        }
      }
    }
    .realidadAumentada {
      &__image {
        min-width: 20.35rem;
        max-width: 20.35rem;
        height: 25.45rem;

        img {
          &.realidad__image1 {
            width: 19.2rem;
            top: 3.6em;
          }
          &.realidad__image2 {
            width: 15.95rem;
            left: 2.64em;
          }
          &.realidad__image3 {
            width: 7.5rem;
            top: 0.52em;
            left: 20.52em;
          }
        }
        .video-container {
          width: 10.52rem;
          height: 22.736rem;
          top: 0.64em;
          left: 6.84em;
        }
      }
    }
    .ads {
      &__image {
        min-width: 22.25rem;
        max-width: 22.25rem;
        height: 29.3rem;

        img {
          &.ads__image1 {
            width: 17.7rem;
          }
          &.ads__image2 {
            width: 17.1rem;
            top: 3.68em;
            left: 7.84em;
          }
        }
      }
    }
    .scraper {
      &__image {
        max-width: 17.7rem;
        height: 28.05rem;

        img {
          &.scraper__image1 {
            width: 17.7rem;
            top: 11.44em;
          }
          &.scraper__image2 {
            width: 17.2rem;
            left: 0.96em;
          }
        }
        .scroll_compara {
          background-color: #fff;
          position: absolute;
          display: initial;
          width: 17.6em;
          height: 36.88em;
          top: 3.44em;
          left: 8.8em;
          z-index: 1;
          opacity: 0;
          iframe {
            width: 100%;
            height: 100%;
          }
        }
        .gift_compara {
          display: none;
        }
      }
    }
    .chatbot {
      &__image {
        max-width: 21.2rem;
        height: 25.45rem;
        img {
          &.chatbot__image1 {
            width: 19.2rem;
            top: 3.44em;
          }
          &.chatbot__image2 {
            width: 15.988rem;
            left: 2.72em;
          }
          &.chatbot__image3 {
            width: 7.5rem;
            top: 25.28em;
            left: 21.6em;
          }
          &.chatbot__image4 {
            width: 7.05rem;
            top: 31.6em;
            left: 19.84em;
          }
        }
        .video-container {
          border-radius: 21.44px;
          width: 11.248rem;
          height: 23.088rem;
          top: 0.24em;
          left: 6.528em;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    max-width: 81.25rem;
    nav {
      height: 38.25rem;
      min-width: 10%;
    }
    article {
      max-width: 28rem;
    }
    .evaluacionDesempeno,
    .machineLearning,
    .solucionesDashboard,
    .solucionesRPA,
    .investigacionSegmentada,
    .codigosQR,
    .realidadAumentada,
    .ads,
    .scraper,
    .chatbot {
      &__text {
        min-width: 34rem;
        max-width: 34rem;
        &--title {
          font-size: 48px;
          line-height: 60.72px;
          letter-spacing: 0.195;
          max-width: 35rem;
        }
        .btn-ghost {
          font-size: 14px;
          line-height: 17.71px;
          letter-spacing: 1px;
          padding: 1rem 1.5rem;
          min-width: 17.125rem;
        }
        .slider-container {
          .upper-tabs {
            a {
              padding: 0.8rem 36px;
              font-size: 14px;
              line-height: 17.71px;
              letter-spacing: 0.1px;
            }
          }
          .slider {
            .description {
              min-width: 30rem;
              max-width: 30rem;
              h6 {
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.15;
                max-width: 27.8125rem;
              }
              p {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.004;
                max-width: 27.8125rem;
              }
            }
            .questions {
              min-width: 29rem;
              max-width: 30rem;
            }
          }
        }
      }
    }
    .evaluacionDesempeno {
      &__image {
        min-width: 25.4375rem;
        max-width: 25.4375rem;
        height: 31.81rem;

        img {
          &.evaluacion__image1 {
            width: 24rem;
            top: 4.5em;
          }
          &.evaluacion__image2 {
            width: 19.9375rem;
            left: 3.3em;
          }
          &.evaluacion__image3 {
            width: 9.375rem;
            top: 0.65em;
            left: 25.65em;
          }
        }
        .video-container {
          width: 13.5rem;
          height: 28rem;
          top: 0.8em;
          left: 8.5em;
        }
      }
    }
    .machineLearning {
      &__image {
        max-width: 27rem;
        height: 31.8125rem;

        img {
          &.machineLearning__image1 {
            width: 24rem;
            top: 4.3em;
          }
          &.machineLearning__image2 {
            width: 9.375rem;
            top: 28.5em;
            left: 27.5em;
          }
          &.machineLearning__image3 {
            width: 19.985rem;
            left: 3.3em;
          }
        }
      }
    }
    .solucionesDashboard {
      &__image {
        min-width: 33.75rem;
        max-width: 33.75rem;
        height: 26.75rem;

        img {
          &.dashboard__image1 {
            width: 22.125rem;
            top: 7.5em;
          }
          &.dashboard__image2 {
            width: 32.4375rem;
            left: 2em;
          }
        }
      }
    }
    .solucionesRPA {
      &__image {
        max-width: 26.625rem;
        height: 26.75rem;

        img {
          &.rpa__image1 {
            width: 13.375rem;
            top: 21em;
            left: 21em;
          }
          &.rpa__image2 {
            width: 22.125rem;
          }
        }
      }
    }
    .investigacionSegmentada {
      &__image {
        min-width: 32.0625rem;
        max-width: 32.0625rem;
        height: 32rem;

        img {
          &.investigacion__image1 {
            width: 22.125rem;
            top: 0.5em;
            left: 7em;
          }
          &.investigacion__image2 {
            width: 32.0625rem;
          }
        }
      }
    }
    .codigosQR {
      &__image {
        min-width: 29.721875rem;
        max-width: 29.721875rem;
        height: 29.90625rem;

        img {
          &.codigos__image1 {
            width: 25.9375rem;
          }
          &.codigos__image2 {
            width: 22.125rem;
            top: 10.44em;
            left: 9.77em;
          }
        }
      }
    }
    .realidadAumentada {
      &__image {
        min-width: 25.4375rem;
        max-width: 25.4375rem;
        height: 31.81rem;

        img {
          &.realidad__image1 {
            width: 24rem;
            top: 4.5em;
          }
          &.realidad__image2 {
            width: 19.9375rem;
            left: 3.3em;
          }
          &.realidad__image3 {
            width: 9.375rem;
            top: 0.65em;
            left: 25.65em;
          }
        }
        .video-container {
          width: 13.15rem;
          height: 28.42rem;
          top: 0.8em;
          left: 8.55em;
        }
      }
    }
    .ads {
      &__image {
        max-width: 27.8125rem;
        height: 36.625rem;

        img {
          &.ads__image1 {
            width: 22.125rem;
          }
          &.ads__image2 {
            width: 21.375rem;
            top: 4.6em;
            left: 9.8em;
          }
        }
      }
    }
    .scraper {
      &__image {
        max-width: 22.125rem;
        height: 35.0625rem;

        img {
          &.scraper__image1 {
            width: 22.125rem;
            top: 14.3em;
          }
          &.scraper__image2 {
            width: 21.5rem;
            left: 1.2em;
          }
        }
        .scroll_compara {
          width: 22em;
          height: 46.1em;
          top: 4.3em;
          left: 11em;
        }
      }
    }
    .chatbot {
      &__image {
        max-width: 26.5rem;
        height: 31.8125rem;

        img {
          &.chatbot__image1 {
            width: 24rem;
            top: 4.3em;
          }
          &.chatbot__image2 {
            width: 19.985rem;
            left: 3.4em;
          }
          &.chatbot__image3 {
            width: 9.375rem;
            top: 31.6em;
            left: 27em;
          }
          &.chatbot__image4 {
            width: 8.8125rem;
            top: 39.5em;
            left: 24.8em;
          }
        }
        .video-container {
          border-radius: 26.8px;
          width: 14.06rem;
          height: 28.86rem;
          top: 0.3em;
          left: 8.16em;
        }
      }
    }
  }
}
