@import "./theme/settings";

.article {
  @include flexbox(center, center, column);
  width: 90%;
  max-width: 30.3125rem;
  margin-inline: auto;
  position: relative;
  top: 4.5rem;
  padding-bottom: 4.5rem;

  .loading {
    @include flexbox(center, center, row);
    height: 80vh;
    width: 100%;
    img {
      width: 12.5rem;
      height: 12.5rem;
    }
  }

  .title {
    position: relative;

    &__background {
      width: 100%;
      border-radius: 8px;
      opacity: 0;
    }

    &__text {
      position: absolute;
      bottom: 0.5em;
      left: 1em;
      @include fontStyle(20px, 24px, $--fw-black, #ffffff, undefined);
      text-align: left;
      max-width: 70%;
      opacity: 0;
    }

    @media (max-width: 360px) {
      &__text {
        font-size: 15px;
        line-height: 17px;
        max-width: 11rem;
      }
    }
  }

  .content {
    padding-block: 2.5rem;

    .article-content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.875rem;
      .date-container {
        @include fontStyle(12px, 16px, $--fw-light, #333333, undefined);
        font-family: "DM Sans", sans-serif;
        opacity: 0;
        span {
          margin-left: 0.75rem;
        }

        .fa-calendar-minus {
          color: #6483f6;
        }
      }

      .image-container {
        margin: 1em auto;
        opacity: 0;
        img {
          max-width: 100%;
          border-radius: 8px;
        }
      }

      &__text {
        @include fontStyle(
          14px,
          20px,
          $--fw-light,
          $--clr-font-regular,
          undefined
        );
        padding-block: 1em;
        height: fit-content;
        opacity: 0;

        strong {
          color: #111111;
          line-height: 2em;
        }

        p {
          padding-bottom: 1em;
        }
      }
      .plot-container  {
        grid-row: 4 / 5;
        margin-inline: auto;
        width: 100%;
        max-width: 25rem;
        opacity: 0;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .social {
    &-list {
      @include flexbox(center, center, row);
      &__item {
        padding: 12px;
        margin-inline: 0.2rem;
        color: #111;
        border: 2px solid #36af67;
        border-radius: 50%;
        .social-list__link {
          color: $--clr-font-dark;
          font-size: 12px;

          &:hover {
            opacity: 0.8;
          }

          &:active {
            color: $--clr-lucro-red;
          }
        }
      }
    }
  }

  .related {
    width: fit-content;
    margin-inline: auto;
    padding-block: 5rem;

    &__text {
      @include fontStyle(20px, 24px, $--fw-bold, #333333, undefined);
      text-align: center;
    }
    .grid {
      display: grid;
      padding-block: 2rem;
      grid-template-columns: 1fr;
      gap: 1.875rem;
      .article-thumb {
        position: relative;
        height: auto;
        max-width: 25rem;
        background-color: #ffffff;
        box-shadow: 0px 0.723077px 1.44615px -0.361538px rgba(0, 0, 0, 0.1),
          0px 1.44615px 1.80769px rgba(0, 0, 0, 0.07),
          0px 0.361538px 3.61538px rgba(0, 0, 0, 0.06);
        border-radius: 0.5rem;
        overflow: hidden;
        .image-container {
          background-color: #dde3e4;
          width: 100%;
          margin-inline: auto;
          img {
            width: 100%;
          }
        }

        h5 {
          position: absolute;
          top: 0.525rem;
          left: 0.740625rem;
          @include fontStyle(14px, 18px, $--fw-bold, #ffffff, uppercase);
          letter-spacing: 1.5px;
        }

        &__bottom {
          @include flexbox(center, center, column);
          padding: 1.5rem 2rem 1.0625rem;
          h1 {
            @include fontStyle(14px, 20px, $--fw-bold, #333333, undefined);
            margin-right: auto;
            margin-bottom: 0.5rem;
          }

          .date-container {
            width: fit-content;
            margin-left: auto;
            @include flexbox(center, center, row);
            .far {
              color: #6483f6;
              font-size: 8px;
            }
            span {
              width: fit-content;
              @include fontStyle(8px, 11.57px, $--fw-light, #333333, undefined);
              margin-left: 0.27125rem;
            }
          }
        }
      }
    }
  }
  .button-container {
    width: fit-content;
    margin-inline: auto;
    .toGrid {
      @include fontStyle(18px, 23.44px, $--fw-black, #333333a4, undefined);
      text-align: center;
      text-decoration: none;
      padding: 12px 25px;
      border: 2px solid #ef5d50;
      box-sizing: border-box;
      border-radius: 8px;
    }
  }
  &.show {
    .title {
      &__background {
        animation: fadein-regular 500ms ease-in forwards;
      }
      &__text {
        animation: fadein-up 500ms ease-in 400ms forwards;
      }
    }
    .content {
      .article-content {
        .date-container {
          animation: fadein-left 500ms ease-in 800ms forwards;
        }
        .image-container {
          animation: fadein-right 500ms ease-in 800ms forwards;
        }
        .plot-container {
          animation: fadein-up 500ms ease-in 1200ms forwards;
        }
        &__text {
          animation: fadein-down 500ms ease-in 1200ms forwards;
        }
      }
    }
  }

  @include sm {
    max-width: 33.34375;
    padding-bottom: 4.95rem;
    .title {
      &__background {
        border-radius: 8.8px;
      }
      &__text {
        bottom: 0.55em;
        left: 1.1em;
        font-size: 22px;
        line-height: 26.4px;
      }
    }
    .content {
      padding-block: 2.75rem;
      .article-content {
        gap: 2.0625rem;
        .date-container {
          font-size: 13.2px;
          line-height: 17.6px;
          span {
            margin-left: 0.825rem;
          }
        }
        .image-container {
          margin-block: 1.1em;
          img {
            border-radius: 8.8px;
          }
        }
        &__text {
          font-size: 15.4px;
          line-height: 22px;
          padding-block: 1.1em;

          strong {
            line-height: 2.2em;
          }
        }
        .plot-container {
          max-width: 27.5rem;
        }
      }
    }
    .social {
      &-list {
        &__item {
          padding: 13.2px;
          margin-inline: 0.22rem;
          .social-list__link {
            font-size: 13.2px;
          }
        }
      }
    }
    .related {
      padding-block: 5.5rem;
      &__text {
        font-size: 22px;
        line-height: 26.4px;
      }
      .grid {
        padding-block: 2.2rem;
        gap: 2.0625rem;
        .article-thumb {
          border-radius: 0.55rem;
          max-width: 27.5rem;
          h5 {
            top: 0.5775rem;
            left: 0.8146875rem;
            font-size: 15.4px;
            line-height: 19.8px;
            letter-spacing: 1.65px;
          }
          &__bottom {
            padding: 1.65rem 2.2rem 1.16875rem;
            h1 {
              font-size: 15.41px;
              line-height: 22px;
              letter-spacing: 0.0044em;
              margin-bottom: 1.34475rem;
            }
            .date-container {
              .far {
                font-size: 8.8px;
              }
              span {
                font-size: 8.8px;
                line-height: 12.727px;
                margin-left: 0.298375rem;
              }
            }
          }
        }
      }
    }
    .button-container {
      .toGrid {
        font-size: 19.8px;
        line-height: 25.784px;
        padding: 13.2px 27.5px;
        border-radius: 8.8px;
      }
    }
  }

  @include md {
    max-width: 39.40625rem;
    padding-bottom: 5.85rem;
    .title {
      &__background {
        border-radius: 10.4px;
      }
      &__text {
        bottom: 0.65em;
        left: 1.3em;
        font-size: 26px;
        line-height: 31.2px;
      }
    }
    .content {
      padding-block: 3.25rem;
      .article-content {
        gap: 2.4375rem;
        .date-container {
          font-size: 15.6px;
          line-height: 20.8px;
          span {
            margin-left: 0.975rem;
          }
        }
        .image-container {
          margin-block: 1.3em;
          img {
            border-radius: 10.4px;
          }
        }

        &__text {
          font-size: 18.2px;
          line-height: 26px;
          padding-block: 1.3em;

          strong {
            line-height: 2.6em;
          }
        }
        .plot-container {
          max-width: 32.5rem;
        }
      }
    }
    .social {
      &-list {
        &__item {
          padding: 15.6px;
          margin-inline: 0.26rem;
          .social-list__link {
            font-size: 15.6px;
          }
        }
      }
    }
    .related {
      padding-block: 6.5rem;
      &__text {
        font-size: 26px;
        line-height: 31.2px;
      }
      .grid {
        padding-block: 2.6rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.0625rem 1.5rem;
        .article-thumb {
          border-radius: 0.65rem;
          max-width: 32.5rem;
          h5 {
            top: 0.6825rem;
            left: 0.9628125rem;
            font-size: 8px;
            line-height: 23.4px;
            letter-spacing: 1.95px;
          }
          &__bottom {
            padding: 1rem 1rem 1.38125rem;
            h1 {
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.0052em;
              margin-bottom: 0.65rem;
            }
            .date-container {
              .far {
                font-size: 10.4px;
              }
              span {
                font-size: 10.4px;
                line-height: 15.041px;
                margin-left: 0.975rem;
              }
            }
          }
        }
      }
    }
    .button-container {
      .toGrid {
        font-size: 23.4px;
        line-height: 30.472px;
        padding: 15.6px 32.5px;
        border-radius: 10.4px;
      }
    }
  }

  @include lg {
    max-width: 55.5rem;
    .title {
      &__background {
        border-radius: 12.8px;
      }
      &__text {
        bottom: 0.95rem;
        left: 1.85rem;
        font-size: 38.4px;
        line-height: 48.576px;
      }
    }
    .content {
      padding-block: 2rem;
      .article-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        .date-container {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          font-size: 12.8px;
          line-height: 25.6px;
          span {
            margin-left: 0.6rem;
          }
        }
        .image-container {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }
        .plot-container {
          position: relative;
          grid-column: 2 / 3;
          grid-row: 1 / 4;
          margin: 0.8em auto;
          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 12.8px;
          }
        }
        &__text {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
          font-size: 16px;
          line-height: 19.2px;
          padding-bottom: 3.2em;
          strong {
            line-height: 1.6em;
          }
        }
      }
    }
    .social {
      &-list {
        &__item {
          margin-inline: 0.8rem;
          .social-list__link {
            font-size: 12.8px;
          }
        }
      }
    }
    .related {
      padding-block: 4rem;
      &__text {
        font-size: 38.4px;
        line-height: 48.576px;
      }
      .grid {
        padding-block: 2.7rem;
        gap: 1.5rem;
        .article-thumb {
          border-radius: 0.8rem;
          h5 {
            font-size: 8px;
            line-height: 10.12px;
            letter-spacing: 1.2px;
          }
          &__bottom {
            padding: 1.2rem 1.6rem 0.85rem;
            h1 {
              font-size: 19.2px;
              line-height: 24.288px;
              margin-bottom: 0.8rem;
            }
            .date-container {
              .far {
                font-size: 12.8px;
              }
              span {
                font-size: 12.8px;
                line-height: 25.6px;
                margin-left: 0.6rem;
              }
            }
          }
        }
      }
    }
    .button-container {
      .toGrid {
        font-size: 14.4px;
        line-height: 18.752px;
        padding: 9.6px 20px;
        border-radius: 6.4px;
      }
    }
  }

  @include xl {
    max-width: 69.375rem;
    .title {
      &__background {
        border-radius: 16px;
      }
      &__text {
        bottom: 1.1875rem;
        left: 2.3125rem;
        font-size: 48px;
        line-height: 60.72px;
      }
    }
    .content {
      padding-block: 2.5rem;
      .article-content {
        gap: 1.875rem;
        .date-container {
          font-size: 16px;
          line-height: 32px;
          span {
            margin-left: 0.75rem;
          }
        }
        .image-container {
          margin: 0 auto;
          img {
            border-radius: 16px;
          }
        }
        &__text {
          font-size: 20px;
          line-height: 24px;
          padding-block: 1em;
          strong {
            line-height: 2em;
          }
        }
      }
    }
    .social {
      &-list {
        &__item {
          margin-inline: 1rem;
          .social-list__link {
            font-size: 16px;
          }
        }
      }
    }
    .related {
      padding-block: 5rem;
      &__text {
        font-size: 48px;
        line-height: 60.72px;
      }
      .grid {
        padding-block: 3.375rem;
        gap: 1.875rem;
        .article-thumb {
          border-radius: 1rem;
          h5 {
            font-size: 10px;
            line-height: 12.65px;
            letter-spacing: 1.5px;
          }
          &__bottom {
            padding: 1.5rem 2rem 1.0625rem;
            h1 {
              font-size: 24px;
              line-height: 30.36px;
              margin-bottom: 1rem;
            }
            .date-container {
              .far {
                font-size: 16px;
              }
              span {
                font-size: 16px;
                line-height: 32px;
                margin-left: 0.75rem;
              }
            }
          }
        }
      }
    }
    .button-container {
      .toGrid {
        font-size: 18px;
        line-height: 23.44px;
        padding: 12px 25px;
        border-radius: 8px;
      }
    }
  }
}
