.article {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
   p {
     text-transform: uppercase;
     text-align: center;
     font-size: 72px;
     line-height: 80px;
     font-weight: 900;
   }
}
