<section class="article" *ngIf="article">
  <div class="title">
    <img
      class="title__background"
      src="/assets/images/consumidores/article/trash-banner.png"
      alt="banner-image"
    />
    <h1 class="title__text">
      {{ article[0]?.titulo }}
    </h1>
  </div>

  <div class="content">
    <article class="article-content">
      <div class="date-container">
        <i class="far fa-calendar-minus"></i>
        <span>{{ article[0]?.fecha }}</span>
      </div>
      <div
        [innerHTML]="article[0]?.texto"
        class="article-content__text">
      </div>
    </article>
    <figure class="image-container">
      <img
        [src]="url"
        alt="Definitively your best choice. A descriptive image"
      />
    </figure>
  </div>

  <div class="social">
    <ul class="social-list">
      <li class="social-list__item">
        <a
          href="https://www.instagram.com/lucroappoficial/"
          class="social-list__link"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li class="social-list__item">
        <a
          href="https://www.linkedin.com/company/lucro-app-col/"
          class="social-list__link"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link" target="_blank"
          ><i class="fab fa-youtube"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="related">
    <h2 class="related__text">Publicaciones relacionadas</h2>

    <div class="grid">
      <a
        (click)="goToTop()"
        [routerLink]="['/consumidores', a.id]"
        class="article-thumb"
        *ngFor="
          let a of articles
            | paginate: { itemsPerPage: 3, currentPage: actualPage }
        "
      >
        <h5>
          <span>{{ a.categoria }}</span>
        </h5>
        <div class="image-container">
          <img
            src="/assets/imageNotFound.png"
            alt="Definitively your best choice. A descriptive image"
          />
          <!-- <img [src]="a.imagen" alt="Definitively your best choice. A descriptive image"> -->
        </div>

        <div class="article-thumb__bottom">
          <h1>{{ a.titulo }}</h1>
          <div class="date-container">
            <i class="far fa-calendar-minus"></i>
            <span>{{ a.fecha }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
