<section class="contactenos show">
  <div class="container">
    <article class="contactenos__text">
      <div class="contactenos__image">
        <img
          *ngFor="let img of sectionContactenos.images"
          [src]="img.src"
          [class]="img.class"
        />
      </div>
      <div class="contactenos__text--text">
        <h3 class="contactenos__text--title">
          {{ sectionContactenos?.title }}
        </h3>
        <p class="contactenos__text--paragraph">
          {{ sectionContactenos?.body }}
        </p>
      </div>
    </article>
    <form class="contactenos-form" [formGroup]="contactForm" (ngSubmit)="sendForm(contactForm)">
      <input
        type="text"
        name="name"
        placeholder="Nombre completo"
        id="name"
        class="form-control"
        formControlName="name"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Correo corporativo"
        id="email"
        class="form-control"
        formControlName="email"
        required
      />
      <input
        type="tel"
        name="phone-number"
        placeholder="Teléfono"
        id="phoneNumber"
        class="form-control"
        formControlName="tel"
        required
      />
      <select formControlName="country" name="country" id="country" class="form-control">
        <option disabled selected value>País</option>
        <option value="Colombia">Colombia</option>
        <option value="EEUU">United States</option>
      </select>
      <input
        type="text"
        name="company"
        placeholder="¿Cómo se llama tu empresa?"
        id="company"
        class="form-control"
        formControlName="company"
        required
      />
      <select name="sector" id="sector" formControlName="sector" class="form-control">
        <option disabled selected value>Sector de la empresa</option>
        <option value="Law-business">Asesoría jurídica</option>
        <option value="Data-science">Ciencia de datos</option>
      </select>
      <select name="employees" id="employees" formControlName="employees" class="form-control">
        <option disabled selected value>Cantidad de empleados</option>
        <option value="0-5">de 0 a 5</option>
        <option value="5-20">de 5 a 20</option>
        <option value="20-50">de 20 a 50</option>
        <option value=">50">Más de 50</option>
      </select>
      <textarea
        name="description"
        id="description"
        class="input-textarea"
        formControlName="description"
        placeholder="Descripción"
      ></textarea>
      <button
        type="submit"
        id="submit"
        class="submit-button"
      >
        Enviar
      </button>
      <p class="form-conditions">
        Al dar click en enviar, autorizas el tratamiento de tus datos
        personales, de acuerdo con la Política de Tratamiento de Datos
        Personales.
      </p>
    </form>
    <span
      ><img
        class="backEllipse"
        src="../../../assets/images/contactenos/Ellipse 44.svg"
    /></span>
  </div>
  <div class="overlay" [ngClass]="{'active':clickSubmit}">
    <div class="sent">
      <h4 class="sent__title">Mensaje enviado</h4>
      <p class="sent__paragraph">
        Pronto un comercial se contactara contigo para resolver todas tus dudas
        y hacerte un acompañamiento a tus necesidades.<br /><br />
        Te invitamos a llenar una breve encuesta para concerte mejor.
      </p>
      <button class="sent-btn">Programa una llamada</button>
      <button (click)="clickSubmit = !clickSubmit"><i class="fas fa-times"></i></button>
    </div>
  </div>
</section>
