<section class="contactenos">
  <div class="container">
    <article class="contactenos__text">
      <button class="btn-ghost">agendar con un comercial</button>
      <div class="contactenos__image">
        <img
          src="../../../assets/images/contactenos/Group 31.svg"
          class="contactenos__image1"
        />
        <img
          src="../../../assets/images/contactenos/Group 34.png"
          class="contactenos__image2"
        />
        <img
          src="../../../assets/images/contactenos/Ellipse 42.svg"
          class="contactenos__image3"
        />
      </div>
      <div class="contactenos__text--text">
        <h3 class="contactenos__text--title">¡Inicia tu solicitud con Lucro!</h3>
        <p class="contactenos__text--paragraph">
          Nos complace crear una asesoría para ti en Lucro. Es necesario que puedas
          contar con más de 3 minutos para completar esta solicitud y reservar tu
          asesoría. ¡Vamos a empezar!
        </p>
      </div>
    </article>
    <form class="contactenos-form">
      <input
        type="text"
        name="name"
        placeholder="Nombre completo"
        id="name"
        class="form-control"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Correo corporativo"
        id="email"
        class="form-control"
        required
      />
      <input
        type="tel"
        name="phone-number"
        placeholder="Teléfono"
        id="phoneNumber"
        class="form-control"
        required
      />
      <select name="country" id="country" class="form-control">
        <option disabled selected value>País</option>
        <option value="Colombia">Colombia</option>
        <option value="EEUU">United States</option>
      </select>
      <input
        type="text"
        name="company"
        placeholder="¿Cómo se llama tu empresa?"
        id="company"
        class="form-control"
        required
      />
      <select name="sector" id="sector" class="form-control">
        <option disabled selected value>Sector de la empresa</option>
        <option value="Law-business">Asesoría jurídica</option>
        <option value="Data-science">Ciencia de datos</option>
      </select>
      <select name="employees" id="employees" class="form-control">
        <option disabled selected value>Cantidad de empleados</option>
        <option value="0-5">de 0 a 5</option>
        <option value="5-20">de 5 a 20</option>
        <option value="20-50">de 20 a 50</option>
        <option value=">50">Más de 50</option>
      </select>
      <textarea
        name="description"
        id="description"
        class="input-textarea"
        placeholder="Descripción"
      ></textarea>
      <button type="submit" id="submit" class="submit-button">Enviar</button>
      <p class="form-conditions">
        Al dar click en enviar, autorizas el tratamiento de tus datos personales,
        de acuerdo con la Política de Tratamiento de Datos Personales.
      </p>
    </form>
    <span><img class="backEllipse" src="../../../assets/images/contactenos/Ellipse 44.svg"></span>
  </div>
</section>
