@import "./theme/settings";

.contactenos {
  @include flexbox(center, center, column);
  .container {
    @include flexbox(center, center, column);
    max-width: 485px;
    padding: 1.25rem;
    position: relative;
    top: 72px;

    .contactenos__text {
      @include flexbox(center, center, column);
      width: 100%;

      .contactenos__image {
        position: relative;
        left: -5%;
        width: 12.789375rem;
        height: 8.75rem;

        img {
          max-width: 100%;
          max-height: 100%;

          &.contactenos__image1 {
            position: absolute;
            width: 5.9775rem;
            top: 0.3em;
            left: 10.8em;
            opacity: 0;
          }
          &.contactenos__image2 {
            position: absolute;
            width: 9.095rem;
            z-index: 1;
            opacity: 0;
          }
          &.contactenos__image3 {
            position: absolute;
            width: 0.959375rem;
            top: 10.2em;
            left: 13.4em;
            z-index: 2;
            opacity: 0;
          }
        }
      }

      &--title {
        @include fontStyle(
          20px,
          24px,
          $--fw-black,
          $--clr-font-regular,
          undefined
        );
        width: 100%;
        letter-spacing: 0.15px;
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      &--paragraph {
        width: 100%;
        @include fontStyle(
          12px,
          16px,
          $--fw-light,
          $--clr-font-light,
          undefined
        );
        letter-spacing: 0.004em;
        margin-bottom: 1.5em;
        opacity: 0;
      }
    }

    .contactenos-form {
      #nombre {
        background: url("/assets/images/icons/user.svg") no-repeat 94.5% 45%,
          #fff;
      }
      #correo {
        background: url("/assets/images/icons/at.svg") no-repeat 94.5% 45%, #fff;
      }
      #telefono {
        background: url("/assets/images/icons/phone.svg") no-repeat 94.5% 45%,
          #fff;
      }
      #empresa {
        background: url("/assets/images/icons/lunch-box.svg") no-repeat 94.5%
            45%,
          #fff;
      }
      #web {
        background: url("/assets/images/icons/website.svg") no-repeat 94.5% 45%,
          #fff;
      }
      select,
      .form-control,
      .input-textarea {
        @include fontStyle(
          14px,
          20px,
          $--fw-light,
          $--clr-font-regular,
          undefined
        );
        background-color: #fff;
        font-family: inherit;
        letter-spacing: 0.4px;
        padding: 1.125rem 0.9375rem;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        margin-bottom: 0.5rem;
        border: 1px solid #bbc7ca;
        border-radius: 4px;
        opacity: 0;

        &::placeholder {
          @include fontStyle(
            14px,
            20px,
            $--fw-light,
            $--clr-font-regular,
            undefined
          );
        }
      }

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: url("/assets/images/icons/select-arrow.svg") no-repeat 94.5%
          45%;
      }

      input {
        background-color: #fff;
      }

      .input-textarea {
        background-color: #fff;
        min-height: 3.625rem;
        height: 7.5rem;
        max-height: 18.75rem;
        &::placeholder {
          color: #9aabaf;
        }
      }

      .submit-button {
        @include fontStyle(14px, 17.71px, $--fw-light, #ffffff, uppercase);
        letter-spacing: 1.5px;
        width: 100%;
        height: 3rem;
        margin-block: 8px;
        padding: 8px 24px;
        border-radius: 16px;
        background-color: #36af67;
        cursor: pointer;
        border: none;

        &:hover {
          background-color: #1c693b;
        }
        &:active {
          transform: scale(0.98);
        }
      }

      .form-conditions {
        @include fontStyle(
          12px,
          16px,
          $--fw-light,
          $--clr-font-regular,
          undefined
        );
        text-align: center;
        margin-block: 0.5rem 4em;
        a {
          color: #000;
          text-decoration: underline;

          &:hover {
            color: rgb(30, 59, 226);
          }
          &:visited {
            color: rgb(116, 27, 231);
          }
        }
      }
    }

    .backEllipse {
      position: absolute;
      overflow: hidden;
      width: 26.75rem;
      left: -13rem;
      top: 7rem;
      z-index: -1;
    }
  }
  .overlay {
    display: none;
    background: rgba(34, 46, 49, 0.49);
    backdrop-filter: blur(7px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .sent {
      @include flexbox(space-evenly, center, column);
      position: relative;
      background: #fff;
      border-radius: 16px;
      width: 90%;
      max-width: 27rem;
      height: 23.1875rem;
      max-height: 25.125rem;
      padding-inline: 10%;

      &__title {
        @include fontStyle(34px, 43.01px, $--fw-black, #fff, capitalize);
        background: #68c38d;
        position: absolute;
        border-radius: 16px 16px 0 0;
        top: 0;
        left: 0;
        right: 0;
        padding: 10% 1rem 0.5rem;
        letter-spacing: 0.25px;
      }
      &__paragraph {
        @include fontStyle(
          14px,
          20px,
          $--fw-light,
          $--clr-font-regular,
          Undefined
        );
        position: absolute;
        top: 7.0625rem;
        padding: 10% 1rem 0.5rem;
        letter-spacing: 0.4px;
      }

      &-btn {
        @include fontStyle(
          14px,
          17.71px,
          $--fw-bold,
          $--clr-font-regular,
          uppercase
        );
        position: absolute;
        bottom: 2em;
        background: transparent;
        width: 93%;
        max-width: 16.25rem;
        padding: 0.75rem;
        letter-spacing: 1.25px;
        border: $--clr-font-dark 2px solid;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          transform: scale(0.95);
        }
      }

      .fa-times {
        @include flexbox(center, center, undefined);
        position: absolute;
        left: 45%;
        bottom: -2em;
        font-size: 24px;
        color: #ef5d50;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        background-color: #f4f7f5;
        &:hover {
          color: #a13d33;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }

    &.active {
      @include flexbox(center, center, undefined);
    }
  }

  &.show {
    .contactenos-form {
      #nombre {
        animation: fadein-left 500ms ease-in 2000ms forwards;
      }
      #correo {
        animation: fadein-left 500ms ease-in 2200ms forwards;
      }
      #telefono {
        animation: fadein-left 500ms ease-in 2400ms forwards;
      }
      #pais {
        animation: fadein-left 500ms ease-in 2600ms forwards;
      }
      #empresa {
        animation: fadein-left 500ms ease-in 2800ms forwards;
      }
      #sector {
        animation: fadein-left 500ms ease-in 3000ms forwards;
      }
      #web {
        animation: fadein-left 500ms ease-in 3200ms forwards;
      }
      #empleados {
        animation: fadein-left 500ms ease-in 3400ms forwards;
      }
      #mensaje {
        animation: fadein-left 500ms ease-in 3600ms forwards;
      }
    }
    .contactenos__image {
      &1 {
        animation: fadein-left 500ms ease-in 800ms forwards;
      }
      &2 {
        animation: fadein-rotate 4000ms ease-in-out 1200ms forwards;
      }
      &3 {
        animation: horizontal-float 4000ms linear 1600ms infinite;
      }
    }
    .contactenos__text--title {
      animation: fadein-right 500ms ease-in forwards;
    }
    .contactenos__text--paragraph {
      animation: fadein-right 500ms ease-in 400ms forwards;
    }
  }

  @include sm {
    .container {
      .contactenos__text {
        .contactenos__image {
          width: 14.0683125rem;
          height: 9.625rem;
          img {
            &.contactenos__image1 {
              width: 6.57525rem;
              top: 0.33em;
              left: 11.88em;
            }
            &.contactenos__image2 {
              width: 10.0045rem;
            }
            &.contactenos__image3 {
              width: 1.0553125rem;
              top: 11.22em;
              left: 14.74em;
            }
          }
        }
        &--title {
          font-size: 22px;
          line-height: 26.4px;
          margin-top: 1.1em;
        }
        &--paragraph {
          font-size: 13.2px;
          line-height: 17.6px;
        }
      }
      .backEllipse {
        width: 29.425rem;
        top: 7.5rem;
      }
    }
    .overlay {
      .sent {
        &__title {
          padding-inline: 1.2em;
        }
        &__paragraph {
          padding-inline: 3em;
          top: 6rem;
        }
        .fa-times {
          top: 0;
          right: -2em;
          left: initial;
          bottom: initial;
        }
      }
    }
  }

  @include md {
    .container {
      .contactenos__text {
        .contactenos__image {
          width: 16.6261875rem;
          height: 11.375rem;
          img {
            &.contactenos__image1 {
              width: 7.77075rem;
              top: 0.39em;
              left: 14.04em;
            }
            &.contactenos__image2 {
              width: 11.8235rem;
            }
            &.contactenos__image3 {
              width: 1.2471875rem;
              top: 13.26em;
              left: 17.42em;
            }
          }
        }
        &--title {
          font-size: 26px;
          line-height: 31.2px;
          margin-top: 1.3em;
        }
        &--paragraph {
          font-size: 15.6px;
          line-height: 20.8px;
        }
      }
      .backEllipse {
        width: 34.775rem;
        top: 9rem;
      }
    }
  }

  @include lg {
    background: radial-gradient(
      80% 80% at 100% 0%,
      #cdebd985 0%,
      rgba(205, 235, 217, 0) 100%
    );
    .container {
      @include flexbox(space-evenly, flex-start, row-reverse);
      width: 100%;
      max-width: initial;
      margin-top: 100px;
      left: -3em;

      .contactenos-form {
        max-width: 22.25rem;
      }

      .contactenos__text {
        @include flexbox(center, flex-start, column-reverse);
        max-width: 25.0665rem;

        &--title {
          font-size: 27.2px;
          line-height: 24.96px;
          letter-spacing: 0.25px;
          margin-top: 0.75em;
        }
        &--paragraph {
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.4px;
        }

        .contactenos__image {
          width: 25.0665rem;
          height: 17.15rem;
          img {
            &.contactenos__image1 {
              width: 11.7165rem;
              top: 0.8em;
              left: 21.44em;
            }
            &.contactenos__image2 {
              width: 17.826rem;
            }
            &.contactenos__image3 {
              width: 1.8805rem;
              top: 20.8em;
              left: 25.6em;
            }
          }
        }
      }
      .backEllipse {
        width: 31.2rem;
        top: -15rem;
        left: -6rem;
      }
    }
  }

  @include xl {
    .container {
      @include flexbox(space-evenly, flex-start, row-reverse);
      width: 100%;
      max-width: initial;
      margin-top: 100px;

      .contactenos-form {
        max-width: 27.8125rem;

        select,
        .form-control,
        .input-textarea {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.5px;
        }
      }

      .contactenos__text {
        max-width: 31.333125rem;

        &--title {
          font-size: $--fs-h3;
          line-height: 43.01px;
          letter-spacing: 0.25px;
          margin-top: 0.75em;
          margin-bottom: 0.3em;
        }
        &--paragraph {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.4px;
        }

        .contactenos__image {
          width: 31.333125rem;
          height: 21.4375rem;
          img {
            &.contactenos__image1 {
              width: 14.645625rem;
              top: 1em;
              left: 26.8em;
            }
            &.contactenos__image2 {
              width: 22.2825rem;
            }
            &.contactenos__image3 {
              width: 2.350625rem;
              top: 26em;
              left: 32em;
            }
          }
        }
      }
      .backEllipse {
        width: 39rem;
        top: -18rem;
      }
    }
  }
}
