<section class="tecnologia">

<div class="title-container">

  <h1>Nuestra tecnología</h1>

</div>

<div class="img-carousel"></div>

<div class="text-card">
  <h2 class="text-card__title">Identificador de imágenes</h2>
  <p class="text-card__content">Herramienta de reconocimiento de imagen para analizar e interpretar datos según las necesidades de la empresa. Imagina que un sistema usa sus “ojos” de la misma forma como lo hacen los humanos para la interpretación de datos a través de la captura de imágenes. “Libera el potencial escondido que tiene una imagen traducida a datos”.</p>
</div>

</section>
