<section class="tecnologia show">
  <div class="title-container">
    <h1>{{ techContent.title }}</h1>
  </div>

  <div class="carousel">
    <ul class="mobiles-slider">
      <li class="mobiles-slider__item" *ngFor="let c of techContent.content">
        <img
          src="../../../assets/images/tecnologia/celFrame.png"
          alt="Phone frame"
          class="cel-frame"
        />
        <img *ngIf="c.img?.imgFocus" [src]="c.img?.imgFocus" class="cel-back" />
        <video *ngIf="c.img?.video" class="cel-back" autoplay muted loop playsinline>
          <source [src]="c.img?.video" type="video/mp4">
        Your browser does not support the video tag
        </video>
        <img [src]="c.img?.imgIcon" class="cel-back icon" />
      </li>
    </ul>
    <span id="arrow-left" (click)="goBack()"
      ><i class="fas fa-arrow-left"></i
    ></span>
    <span id="arrow-right" (click)="goNext()"
      ><i class="fas fa-arrow-right"></i
    ></span>
  </div>

  <div class="slider">
    <div class="tc-container" id="tcContainer">
      <div
        class="text-card"
        ngClass="{{ tech.name }}"
        *ngFor="let tech of techContent.content"
      >
        <h2 class="text-card__title">{{ tech.card?.title }}</h2>
        <p class="text-card__content">{{ tech.card?.content }}</p>
      </div>
    </div>
  </div>
</section>
