<section class="home sp">
  <article class="home__text">
    <h1 class="home__text--title">¿Qué es Lucro para empresas?</h1>
    <p class="home__text--paragraph">
      Fortalece tus procesos empresariales con nuestras soluciones de software a
      la medida. Con Lucro Inside estarás a la vanguardia en la implementación
      de sistemas para calcular variables de interés que mejoren las estrategias
      de negocio e impulsen la relación entre clientes y productos.
    </p>
  </article>
  <div class="home__image">
    <img src="../../../assets/images/Group 31.svg" class="home__image7" />
    <img src="../../../assets/images/Group 35.svg" class="home__image1" />
    <img src="../../../assets/images/Rectangle 241.png" class="home__image2" />
    <img src="../../../assets/images/Rectangle 238.png" class="home__image3" />
    <img src="../../../assets/images/Ellipse 44.svg" class="home__image4" />
    <img src="../../../assets/images/Ellipse 42.png" class="home__image5" />
    <img src="../../../assets/images/Ellipse 43.png" class="home__image6" />
  </div>
</section>
