@import "./theme/settings";

.home {
  @include flexbox(center, center, column);
  top: 69px;
  padding-block: 5em;
  margin-bottom: 15em;
  height: 38.75rem;
  position: relative;

  &__image {
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 336px;
    height: 263px;

    img {
      max-width: 100%;
      max-height: 100%;

      &.home__image1 {
        position: absolute;
        top: 0.8em;
        left: 14.5em;
        width: 69px;
        z-index: 1;
      }
      &.home__image2 {
        position: absolute;
        width: 181px;
        top: 0.3em;
        border-radius: 10%;
      }
      &.home__image3 {
        position: absolute;
        width: 132px;
        left: 14.7em;
        top: 8.5em;
        border-radius: 10%;
      }
      &.home__image4 {
        position: absolute;
        width: 9.3px;
        left: 8.7em;
      }
      &.home__image5 {
        position: absolute;
        width: 16.6px;
        top: 19.6em;
        left: 17.3em;
      }
      &.home__image6 {
        position: absolute;
        width: 19.2px;
        top: 16em;
        left: 26.8em;
      }
      &.home__image7 {
        display: none;
        position: absolute;
        top: 9.8em;
        left: 7.5em;
        z-index: -1;
      }
    }
  }

  &__text {
    width: 90%;
    max-width: 373px;
    margin-top: 2.5em;

    &--title {
      @include fontStyle(
        24px,
        30.36px,
        $--fw-black,
        $--clr-font-dark,
        undefined
      );
      width: 90%;
      margin-bottom: 0.125em;
    }

    &--paragraph {
      width: 90%;
      @include fontStyle(14px, 20px, $--fw-light, $--clr-font-light, undefined);
    }
  }

  @include sm {
    &__image {
      max-width: 400px;
      height: 300px;

      img {
        margin-left: 5.5em;
        &.home__image1 {
          top: 0.8em;
          left: 15.5em;
          width: 75.9px;
        }
        &.home__image2 {
          width: 199.1px;
          top: 0.4em;
        }
        &.home__image3 {
          width: 145.2px;
          left: 16em;
          top: 8.7em;
        }
        &.home__image4 {
          width: 10.23px;
          left: 9.7em;
        }
        &.home__image5 {
          width: 18.26px;
          top: 21em;
          left: 19em;
        }
        &.home__image6 {
          width: 21.12px;
          top: 17em;
          left: 29.4em;
        }
        &.home__image7 {
          display: block;
          top: 15.9em;
          left: 12.8em;
          width: 251.823px;
          z-index: -1;
        }
      }
    }
    &__text {
      max-width: 400px;
      top: 25.5rem;

      &--title {
        font-size: 28px;
        line-height: 35px;
        width: 100%;
      }

      &--paragraph {
        font-size: 16px;
        line-height: 23px;
        width: 100%;
      }
    }
  }

  @include md {
    height: 41.5625rem;

    &__image {
      max-width: 490px;
      height: 500px;

      img {
        margin-left: 7em;
        &.home__image1 {
          top: 2em;
          left: 18.9em;
          width: 89.7px;
        }
        &.home__image2 {
          width: 235.3px;
          top: 0.5em;
        }
        &.home__image3 {
          width: 171.6px;
          left: 19.1em;
          top: 11.5em;
        }
        &.home__image4 {
          width: 12.09px;
          left: 11em;
        }
        &.home__image5 {
          width: 21.58x;
          top: 26.3em;
          left: 22.6em;
        }
        &.home__image6 {
          width: 24.96px;
          top: 21em;
          left: 35em;
        }
        &.home__image7 {
          top: 20em;
          left: 15.8em;
          z-index: -1;
        }
      }
    }

    &__text {
      max-width: 490px;
      top: 28.5rem;

      &--title {
        font-size: 35px;
        line-height: 45px;
      }

      &--paragraph {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  @include lg {
    height: 80vh;
    padding-inline: 6%;
    @include flexbox(space-evenly, center, row-reverse);

    &__text {
      position: initial;
      max-width: 430px;
      width: 50%;
      &--title {
        @include fontStyle(
          45px,
          55px,
          $--fw-black,
          $--clr-font-dark,
          undefined
        );
        width: 90%;
        margin-bottom: 0.125em;
      }
      &--paragraph {
        width: 90%;
        @include fontStyle(
          15px,
          20px,
          $--fw-light,
          $--clr-font-light,
          undefined
        );
      }
    }
    &__image {
      position: relative;
      display: block;
      margin-left: 0;
      width: 50%;
      min-width: 530px;
      height: 35.5rem;
      min-height: 500px;
      top: 9em;
      img {
        max-width: 100%;
        max-height: 100%;
        &.home__image1 {
          position: absolute;
          width: 93.1px;
          left: 23em;
          top: 3em;
          z-index: 1;
        }
        &.home__image2 {
          position: absolute;
          width: 279.2px;
          top: 0.5em;
        }
        &.home__image3 {
          position: absolute;
          width: 204px;
          top: 13.2em;
          left: 22.5em;
        }
        &.home__image4 {
          position: absolute;
          width: 14.4px;
          left: 13.5em;
        }
        &.home__image5 {
          position: absolute;
          width: 29.648px;
          top: 30em;
          left: 26.7em;
        }
        &.home__image6 {
          position: absolute;
          width: 25.6px;
          top: 25em;
          left: 41.5em;
        }
        &.home__image7 {
          position: absolute;
          display: none;
          z-index: -1;
          width: 300px;
          border-radius: 0;
          top: 24em;
          left: 17em;
        }
      }
    }
  }

  @include xl {
    &__text {
      min-width: 470.047px;
      &--title {
        font-size: $--fs-h1;
        line-height: 72px;
        width: 100%;
        margin-bottom: 0.125em;
      }
      &--paragraph {
        width: 100%;
        font-size: $--fs-p;
        line-height: 22px;
      }
    }

    &__image {
      position: relative;
      overflow: visible;
      width: 50%;
      min-width: 538px;
      height: 35.5rem;
      min-height: 567px;
      img {
        max-width: 100%;
        max-height: 100%;
        &.home__image1 {
          position: absolute;
          width: 133px;
          left: 28em;
          top: 1.8em;
          z-index: 1;
        }
        &.home__image2 {
          position: absolute;
          top: 1em;
          width: 349px;
        }
        &.home__image3 {
          position: absolute;
          width: 255px;
          top: 15.7em;
          left: 28.4em;
        }
        &.home__image4 {
          position: absolute;
          width: 18px;
          left: 17em;
        }
        &.home__image5 {
          position: absolute;
          width: 37.06px;
          top: 37em;
          left: 33.2em;
        }
        &.home__image6 {
          position: absolute;
          width: 32px;
          top: 31em;
          left: 52.5em;
        }
        &.home__image7 {
          position: absolute;
          overflow: hidden;
          display: block;
          z-index: -1;
          width: 300px;
          border-radius: 0;
          top: 30em;
          left: 22.5em;
        }
      }
    }
  }

  @media (min-width: 1400px) {
    &__image {
      img {
        &.home__image1 {
          left: -6.5em;
          top: 10em;
        }
      }
    }
  }
}
