<header [ngClass]="{ active: clickHamburger }">
  <a href="#" class="brand">
    <img src="/assets/images/Brand-Lucro.svg" alt="logo Lucro" />
  </a>

  <button *ngIf="hasMenu" class="nav-toggle" aria-label="toggle navigation" (click)="clickHamburger = !clickHamburger">
    <p>Menú</p>
    <span class="hamburger"></span>
  </button>
  <nav class="main-navbar">
    <ul class="navbar">
      <li class="navbar__item">
        <a routerLink="/empresas" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = false">
          <div class="L"></div>
          <p>Empresas</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/soluciones" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = false">
          <div class="U"></div>
          <p>Soluciones</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/tecnologia" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = false">
          <div class="C"></div>
          <p>Tecnología</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/consumidores" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = false">
          <div class="R"></div>
          <p>Consumidores</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/contactenos" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = false">
          <div class="O"></div>
          <p>Contáctenos</p>
        </a>
      </li>
    </ul>
  </nav>
</header>
