<header [ngClass]="{ active: clickHamburger }">
  <div class="brand">
    <img src="../../../assets/images/Brand-Lucro.svg" alt="logo Lucro" />
  </div>

  <button *ngIf="hasMenu" class="nav-toggle" aria-label="toggle navigation" (click)="clickHamburger = !clickHamburger">
    <p>Menú</p>
    <span class="hamburger"></span>
  </button>
  <nav class="main-navbar">
    <ul class="navbar">
      <li class="navbar__item">
        <a routerLink="/empresas" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = !clickHamburger">
          <div class="L"></div>
          <p><span>Ir a </span>Empresas</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/soluciones" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = !clickHamburger">
          <div class="U"></div>
          <p><span>Ir a </span>Soluciones</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/tecnologia" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = !clickHamburger">
          <div class="C"></div>
          <p><span>Ir a </span>Tecnología</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/consumidores" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = !clickHamburger">
          <div class="R"></div>
          <p><span>Ir a </span>Consumidores</p>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/contactenos" routerLinkActive="active" class="navbar__item--link"
          (click)="clickHamburger = !clickHamburger">
          <div class="O"></div>
          <p><span>Ir a </span>Contáctenos</p>
        </a>
      </li>
    </ul>
    <div class="allies">
      <p>Nuestros Aliados</p>
      <span class="v-line"></span>
      <ul class="allies-brands">
        <img draggable="false" class="allies-brands__1" src="../../../assets/images/aliados/image 63.png"
          alt="SAP partner brand" />
        <img draggable="false" class="allies-brands__2" src="../../../assets/images/aliados/image 64.png"
          alt="Google cloud partner brand" />
      </ul>
    </div>
  </nav>
</header>