<section class="work">
  <div class="work__image">
    <img src="../../../assets/images/Polygon 3.svg" class="work__image1" />
    <img
      src="../../../assets/images/inside/Ellipse 42.svg"
      class="work__image2"
    />
    <img
      src="../../../assets/images/inside/Ellipse 44.svg"
      class="work__image3"
    />
    <img
      src="../../../assets/images/Group 31.svg"
      class="work__image4"
    />
    <img
      src="../../../assets/images/diverse-hands-united-community-care-gesture 1.png"
      class="work__image5"
    />
  </div>
  <article class="work__text">
    <h2 class="work__text--title">¿Cómo trabajamos<br />con los clientes</h2>
    <p class="work__text--paragraph">
      En Lucro trabajamos de la mano con los clientes, estudiamos sus
      necesidades y profundizamos en los datos estadísticos de nuestra base
      adecuados a cada perfil para así proponer las mejores soluciones que
      requieran y apoyarlos con sus objetivos de negocio. Nuestros estudios de
      mercado representan a comunidades y culturas de Colombia y el mundo porque
      creemos que basados en ese entendimiento profundo de los gustos e
      intereses de las personas se pueden generar mejores oportunidades de
      crecimiento en los diferentes sectores de la economía.
    </p>
    <button class="btn-ghost">Contáctanos</button>
  </article>
</section>
