@import "./theme/settings";

.work {
  @include flexbox(center, center, column);
  position: relative;

  &__image {
    position: relative;
    overflow: hidden;
    top: 0;
    margin-left: 2em;
    width: 90%;
    max-width: 336px;
    height: 305px;

    img {
      max-width: 100%;
      max-height: 100%;

      &.work__image1 {
        position: absolute;
        width: 70.97px;
        left: 18.5em;
        z-index: 2;
      }
      &.work__image2 {
        position: absolute;
        width: 78.59px;
        top: 20.5em;
        z-index: 2;
      }
      &.work__image3 {
        position: absolute;
        width: 18.77px;
        top: 26.3em;
        left: 7.5em;
        z-index: 2;
      }
      &.work__image4 {
        position: absolute;
        width: 259.39px;
        top: 18em;
        left: -5.5em;
      }
      &.work__image5 {
        position: absolute;
        width: 261px;
        top: 1.6em;
        left: 0.8em;
        border-radius: 50%;
        -webkit-box-shadow: 0px 10px 18px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 18px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 18px -5px rgba(0, 0, 0, 0.75);
        z-index: 1;
      }
    }
  }

  &__text {
    @include flexbox(center, center, column);
    width: 95%;
    max-width: 373px;
    margin-top: 2.5em;
    z-index: 1;

    &--title {
      @include fontStyle(20px, 24px, $--fw-black, $--clr-font-dark, undefined);
      width: 90%;
      margin-bottom: 1em;
    }

    &--paragraph {
      width: 90%;
      @include fontStyle(14px, 20px, $--fw-light, $--clr-font-light, undefined);
      margin-bottom: 1.5em;
    }

    .btn-ghost {
      @include fontStyle(
        $--fs-p,
        14px,
        $--fw-bold,
        $--clr-font-dark,
        uppercase
      );
      background: transparent;
      width: 90%;
      padding: 0.75rem;
      border: $--clr-font-dark 2px solid;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  @include sm {
    &__image {
      max-width: 350px;
      height: 350px;

      img {
        margin-left: 1em;

        &.work__image1 {
          width: 78.067px;
          left: 20.35em;
        }
        &.work__image2 {
          width: 86.449px;
          top: 22.55em;
        }
        &.work__image3 {
          width: 20.647px;
          top: 28.93em;
          left: 8.25em;
        }
        &.work__image4 {
          width: 285.329px;
          top: 19.8em;
          left: -4.95em;
        }
        &.work__image5 {
          width: 287.1px;
          top: 1.936em;
          left: 0.88em;
        }
      }
    }
    &__text {
      max-width: 400px;

      &--title {
        font-size: 28px;
        line-height: 35px;
        width: 100%;
      }

      &--paragraph {
        font-size: 16px;
        line-height: 23px;
        width: 100%;
      }
    }
    .btn-ghost {
      width: 100%;
    }
  }

  @include md {
    &__image {
      max-width: 490px;
      height: 410px;

      img {
        margin-left: 5.5em;

        &.work__image1 {
          width: 92.261px;
          left: 24.05em;
        }
        &.work__image2 {
          width: 102.167px;
          top: 26.65em;
        }
        &.work__image3 {
          width: 24.401px;
          top: 34.19em;
          left: 9.75em;
        }
        &.work__image4 {
          width: 337.207px;
          top: 23.4em;
          left: -3.85em;
        }
        &.work__image5 {
          width: 339.3px;
          top: 2.08em;
          left: 1.04em;
        }
      }
    }

    &__text {
      max-width: 490px;

      &--title {
        font-size: 35px;
        line-height: 45px;
      }

      &--paragraph {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  @include lg {
    @include flexbox(space-evenly, center, row);

    &__text {
      @include flexbox(center, flex-start, column);
      position: initial;
      margin-top: 7em;
      width: 50%;
      max-width: 465.07px;
      margin-left: 3em;
      &--title {
        @include fontStyle(
          45px,
          55px,
          $--fw-black,
          $--clr-font-dark,
          undefined
        );
        width: 90%;
        margin-bottom: 0.5em;
      }
      &--paragraph {
        width: 90%;
        @include fontStyle(
          15px,
          20px,
          $--fw-light,
          $--clr-font-light,
          undefined
        );
      }
    }
    &__image {
      position: relative;
      width: 50%;
      top: 2em;
      min-width: 300px;
      height: 35.5rem;
      min-height: 200px;
      max-height: 400px;

      img {
        margin-left: 5em;

        &.work__image1 {
          width: 96.8px;
          left: 24.05em;
        }
        &.work__image2 {
          width: 107.2px;
          top: 26.65em;
        }
        &.work__image3 {
          width: 25.6px;
          top: 34.19em;
          left: 9.75em;
        }
        &.work__image4 {
          width: 353.808px;
          top: 23.4em;
          left: -3.85em;
        }
        &.work__image5 {
          width: 356px;
          top: 2.08em;
          left: 1.04em;
        }
      }
    }
    .btn-ghost {
      padding: 10px 80px;
      width: auto;
    }
  }

  @include xl {
    &__text {
      min-width: 400px;
      max-width: 586px;
      margin-left: 6em;
      padding-inline: .5em;
      &--title {
        font-size: 48px;
        line-height: 60.72px;
        width: 100%;
        margin-bottom: 0.5em;
      }
      &--paragraph {
        @include fontStyle(
          $--fs-p,
          22px,
          $--fw-light,
          $--clr-font-light,
          undefined
        );
        width: 100%;
        font-size: $--fs-p;
        line-height: 22px;
      }
    }

    &__image {
      overflow: visible;
      min-width: 538px;
      height: 35.5rem;
      min-height: 480px;

      img {
        margin-left: 8em;

        &.work__image1 {
          width: 121px;
          left: 31em;
        }
        &.work__image2 {
          width: 134px;
          top: 35em;
        }
        &.work__image3 {
          width: 32px;
          top: 45em;
          left: 12.5em;
        }
        &.work__image4 {
          width: 442.26px;
          top: 31em;
          left: -9.5em;
        }
        &.work__image5 {
          width: 445px;
          top: 3em;
          left: 1.04em;
        }
      }
    }

    .btn-ghost {
      padding: 10px 100px;
    }
  }
}
