@import 'breakpoints';

$--clr-font-light: #789095;
$--clr-font-regular: #455D62;
$--clr-font-dark: #344549;
$--clr-lucro-red: #EF5D50;
$--background: #E5E5E5;

$--fw-light: 400;
$--fw-bold: 700;
$--fw-black: 900;

$--fs-p: 18px;
$--fs-h1: 60px;
$--fs-h2: 48px;
$--fs-h3: 34px;

@mixin flexbox($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin fontStyle($size, $l-height, $weight, $color, $text-transform) {
    font-size: $size;
    line-height: $l-height;
    font-weight: $weight;
    color: $color;
    text-transform: $text-transform;
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Custom devices
// @mixin rwd($screen) {
//   @media (min-width: $screen+'px') {
//       @content;
//   }
// }

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes huge-fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadein-up {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes huge-fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateX(15%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadein-right {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadein-rotate {
  0% {
    opacity: 0;
    transform: rotate(-360deg);
  }
  50% {
    opacity: 1;
    transform: rotate(110deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }
  0.01% {
    opacity: 1;
  }
  25% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1)
  }
  75% {
    transform: scale(0.9)
  }
  99.99% {
    opacity: 1;
  }
  100% {
    transform: scale(1)
  }
}

@keyframes rotate-bottom-center {
  0% {
    opacity: 0;
    transform: rotate(-180deg);

  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes rotate-infinite {
  0.01% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(18000deg);
  }
}

@keyframes vertical-float {
  0% {
    opacity: 0;
  }
  2.5% {
    opacity: 1;
    transform: translateY(1rem)
  }
  5% {
    transform: translateY(0%)
  }
  7.5% {
    transform: translateY(-1rem)
  }
  10% {
    transform: translateY(0%)
  }
  12.5% {
    transform: translateY(1rem)
  }
  15% {
    transform: translateY(0%)
  }
  17.5% {
    transform: translateY(-1rem)
  }
  20% {
    transform: translateY(0%)
  }
  22.5% {
    transform: translateY(1rem)
  }
  25% {
    transform: translateY(0%)
  }
  27.5% {
    transform: translateY(-1rem)
  }
  30% {
    transform: translateY(0%)
  }
  32.5% {
    transform: translateY(1rem)
  }
  35% {
    transform: translateY(0%)
  }
  37.5% {
    transform: translateY(-1rem)
  }
  40% {
    transform: translateY(0%)
  }
  42.5% {
    transform: translateY(1rem)
  }
  45% {
    transform: translateY(0%)
  }
  47.5% {
    transform: translateY(-1rem)
  }
  50% {
    transform: translateY(0%)
  }
  52.5% {
    transform: translateY(1rem)
  }
  55% {
    transform: translateY(0%)
  }
  57.5% {
    transform: translateY(-1rem)
  }
  60% {
    transform: translateY(0%)
  }
  62.5% {
    transform: translateY(1rem)
  }
  65% {
    transform: translateY(0%)
  }
  67.5% {
    transform: translateY(-1rem)
  }
  70% {
    transform: translateY(0%)
  }
  72.5% {
    transform: translateY(1rem)
  }
  75% {
    transform: translateY(0%)
  }
  77.5% {
    transform: translateY(-1rem)
  }
  80% {
    transform: translateY(0%)
  }
  82.5% {
    transform: translateY(1rem)
  }
  85% {
    transform: translateY(0%)
  }
  87.5% {
    transform: translateY(-1rem)
  }
  90% {
    transform: translateY(0%)
  }
  92.5% {
    transform: translateY(1rem)
  }
  95% {
    transform: translateY(0%)
  }
  97.5% {
    opacity: 1;
    transform: translateY(-1rem)
  }
  100% {
    opacity: 0;
    transform: translateY(0%)
  }
}

@keyframes horizontal-float {
  0% {
    opacity: 0;
  }
  0.01% {
    opacity: 1;
  }
  25% {
    transform: translateX(2rem);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-2rem);
  }
  99.99% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes shake-in {
  20% {
    opacity: 1;
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    opacity: 1;
    transform: rotate(40deg);
  }
  80% {
    opacity: 1;
    transform: rotate(-40deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
