@import "theme/settings";

.home {
  @include flexbox(center, center, column);
  margin-top: 10em;
  overflow-x: hidden;
  padding-bottom: 2em;
  nav {
    @include flexbox(center, center, column);
    overflow-x: hidden;
    max-width: 100%;
    padding-block: 5em 3em;
    .home__lista-rutas {
      @include flexbox(space-between, flex-end, row);
      overflow-x: scroll;
      width: 100%;
      padding-inline: 30% 15%;

      &::-webkit-scrollbar {
        background: transparent;
      }

      a + a {
        margin-left: 5em;
      }

      &--link {
        position: relative;
        cursor: pointer;
        .L {
          background: url("../../../assets/images/Header/01empresas.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top left;
          width: 10.35rem;
          height: 14.79375rem;
        }
        .U {
          background: url("../../../assets/images/Header/02soluciones.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top left;
          width: 15.21rem;
          height: 14.79375rem;
        }
        .C {
          background: url("../../../assets/images/Header/03tecnologia.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top left;
          width: 15.57rem;
          height: 16.65rem;
        }
        .R {
          background: url("../../../assets/images/Header/04consumidores.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top left;
          width: 15.75rem;
          height: 14.79375rem;
        }
        .O {
          background: url("../../../assets/images/Header/05contactenos.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top left;
          width: 14.79375rem;
          height: 14.79375rem;
        }
        p {
          margin-top: 0.5em;
          @include fontStyle(
            24px,
            30.36px,
            $--fw-light,
            $--clr-font-dark,
            undefined
          );
          text-align: center;
          span {
            display: none;
          }
        }
        &:hover {
          .L {
            background: url("../../../assets/images/Header/01empresas-hover.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
          }
          .U {
            background: url("../../../assets/images/Header/02soluciones-hover.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
          }
          .C {
            background: url("../../../assets/images/Header/03tecnologia-hover.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
          }
          .R {
            background: url("../../../assets/images/Header/04consumidores-hover.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
          }
          .O {
            background: url("../../../assets/images/Header/05contactenos-hover.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
          }
          p {
            font-weight: $--fw-black;
            text-decoration: underline;
            span {
              display: initial;
            }
          }
        }
      }
    }
    .slider-controller {
      @include flexbox(space-between, center, row);
      width: 4.5rem;
      height: 0.5rem;
      margin-block: 4em;
      &__circle {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #BBC7CA;
      }
    }
  }
  .allies {
    @include flexbox(space-between, center, column);
    p {
      @include fontStyle(
        14px,
        17.71px,
        $--fw-light,
        $--clr-font-regular,
        undefined
      );
      margin-bottom: 2em;
    }
    .v-line {
      display: none;
      width: 2px;
      height: 44px;
      background-color: $--clr-lucro-red;
      margin-inline: 2.5em 4em;
    }
    .allies-brands {
      @include flexbox(space-between, center, row);
      a + a {
        margin-left: 2em !important;
      }
      a {
        &:hover {
          transform: scale(1.05);
        }
      }
      img {
        max-width: 100%;
      }
      &__1 {
        width: 2.816875rem;
      }
      &__2 {
        width: 5.673125rem;
      }
    }
  }
  @include sm {
    margin-top: 11em;
    nav {
      .home__lista-rutas {
        &--link {
          .L {
            background-repeat: no-repeat;
            background-size: cover;
            width: 11.5rem;
            height: 16.4375rem;
          }
          .U {
            background-repeat: no-repeat;
            background-size: cover;
            width: 16.9rem;
            height: 16.4375rem;
          }
          .C {
            background-repeat: no-repeat;
            background-size: cover;
            width: 17.3rem;
            height: 18.5rem;
          }
          .R {
            background-repeat: no-repeat;
            background-size: cover;
            width: 17.5rem;
            height: 15.3484375rem;
          }
          .O {
            background-repeat: no-repeat;
            background-size: cover;
            width: 16.4375rem;
            height: 16.4375rem;
          }
        }
      }
    }
    .allies {
      flex-direction: row;
      margin-top: 5em;
      p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
      }
      .v-line {
        display: initial;
      }
      .allies-brands {
        &__1 {
          width: 4.421875rem;
        }
        &__2 {
          width: 8.5775rem;
        }
      }
    }
  }

  @include lg {
    height: 70vh;
    nav {
      .home__lista-rutas {
        padding: initial;
        a + a {
          margin-left: 0%;
        }
        &--link {
          .L {
            background-repeat: no-repeat;
            background-size: cover;
            width: 8.28rem;
            height: 11.835rem;
          }
          .U {
            background-repeat: no-repeat;
            background-size: cover;
            width: 12.168rem;
            height: 11.835rem;
          }
          .C {
            background-repeat: no-repeat;
            background-size: cover;
            width: 12.456rem;
            height: 13.32rem;
          }
          .R {
            background-repeat: no-repeat;
            background-size: cover;
            width: 12.6rem;
            height: 11.835rem;
          }
          .O {
            background-repeat: no-repeat;
            background-size: cover;
            width: 11.835rem;
            height: 11.835rem;
          }
        }
      }
      .slider-controller {
        display: none;
      }
    }
  }

  @include xl {
    nav {
      overflow-x: initial;
      max-width: 75rem;
      width: 100%;
      .home__lista-rutas {
        &--link {
          .L {
            background-repeat: no-repeat;
            background-size: cover;
            width: 9.2rem;
            height: 13.15rem;
          }
          .U {
            background-repeat: no-repeat;
            background-size: cover;
            width: 13.52rem;
            height: 13.15rem;
          }
          .C {
            background-repeat: no-repeat;
            background-size: cover;
            width: 13.84rem;
            height: 14.8rem;
          }
          .R {
            background-repeat: no-repeat;
            background-size: cover;
            width: 14rem;
            height: 13.15rem;
          }
          .O {
            background-repeat: no-repeat;
            background-size: cover;
            width: 13.15rem;
            height: 13.15rem;
          }
        }
      }
    }
  }
}
