@import "theme/settings";
* {
  scroll-behavior: initial;
}

.home {
  @include flexbox(center, center, column);
  position: relative;
  margin-top: 10em;
  overflow: hidden;
  padding-bottom: 2em;
  #viewTarget {
    position: absolute;
    width: 17.5rem;
    height: 100vh;
    opacity: 0.3;
    pointer-events: none;
  }
  nav {
    @include flexbox(center, center, column);
    overflow-x: hidden;
    max-width: 100%;
    padding-block: 5em 3em;
    .home__lista-rutas {
      @include flexbox(space-between, flex-end, row);
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      width: 100%;
      scrollbar-width: none;
      padding-inline: 30% 30%;

      &::-webkit-scrollbar {
        background: transparent;
      }

      &--link {
        display: block;
        cursor: pointer;
        scroll-snap-align: center;
        transition: opacity 2000ms linear;
        figure {
          position: relative;
          min-width: 95%;
          min-height: 95%;
          width: 22.9625rem;
          height: 21.51875rem;
          .L,
          .Lhover,
          .U,
          .Uhover,
          .C,
          .Chover,
          .R,
          .Rhover,
          .O,
          .Ohover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
          .Lhover,
          .Uhover,
          .Chover,
          .Rhover,
          .Ohover {
            opacity: 0;
          }
        }
        p {
          margin-top: 0.5em;
          @include fontStyle(
            24px,
            30.36px,
            $--fw-light,
            $--clr-font-dark,
            undefined
          );
          text-align: center;
          opacity: 0;
        }
        &:hover,
        &.active {
          figure {
            .L,
            .U,
            .C,
            .R,
            .O {
              opacity: 0;
            }
            .Lhover,
            .Uhover,
            .Chover,
            .Rhover,
            .Ohover {
              opacity: 1;
            }
          }
          p {
            font-weight: $--fw-black;
            text-decoration: underline;
          }
        }
      }
    }
    .slider-controller {
      @include flexbox(space-between, center, row);
      width: 4.5rem;
      height: 0.5rem;
      margin-block: 4em;
      &__circle {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #BBC7CA;
        cursor: pointer;

        &:hover,
        &.active {
        background: $--clr-font-regular;
        }
      }
    }
  }
  .allies {
    @include flexbox(space-between, center, column);
    p {
      @include fontStyle(
        14px,
        17.71px,
        $--fw-light,
        $--clr-font-regular,
        undefined
      );
      margin-bottom: 2em;
      opacity: 0;
    }
    .v-line {
      display: none;
      width: 2px;
      height: 44px;
      background-color: $--clr-lucro-red;
      margin-inline: 2.5em 4em;
      opacity: 0;
    }
    .allies-brands {
      @include flexbox(space-between, center, row);
      a + a {
        margin-left: 2em !important;
      }
      a {
        opacity: 0;
        &:hover {
          transform: scale(1.05);
        }
      }
      img {
        max-width: 100%;
      }
      &__1 {
        width: 2.816875rem;
      }
      &__2 {
        width: 5.673125rem;
      }
    }
  }
  &.show {
    nav {
      .home__lista-rutas {
        &--link {
          .L {
            animation: fadein-up ease-in 500ms forwards;
          }
          .U {
            animation: fadein-up 500ms ease-in 400ms forwards;
          }
          .C {
            animation: fadein-up 500ms ease-in 800ms forwards;
          }
          .R {
            animation: fadein-up 500ms ease-in 1200ms forwards;
          }
          .O {
            animation: fadein-up 500ms ease-in 1600ms forwards;
          }
          p {
            animation: fadein-down 500ms ease-in 1700ms forwards;
          }
        }
      }
    }
    .allies {
      p {
        animation: fadein-left 500ms ease-in 1600ms forwards;
      }
      .v-line {
        animation: fadein-up 500ms ease-in 1800ms forwards;
      }
      .allies-brands {
        a {
          animation: fadein-right 500ms ease-in 2000ms forwards;
        }
      }
    }
  }
  @include sm {
    margin-top: 11em;
    nav {
      .home__lista-rutas {
        &--link {
          figure {
            width: 25.25875rem;
            height: 23.670625rem;
          }
        }
      }
    }
    .allies {
      flex-direction: row;
      margin-top: 5em;
      p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
      }
      .v-line {
        display: initial;
      }
      .allies-brands {
        &__1 {
          width: 4.421875rem;
        }
        &__2 {
          width: 8.5775rem;
        }
      }
    }
  }

  @include md {
    margin-top: 13em;
    nav {
      .home__lista-rutas {
        &--link {
          figure {
            width: 29.85125rem;
            height: 27.974375rem;
          }
        }
      }
    }
  }

  @include lg {
    height: 70vh;
    nav {
      width: 100%;
      max-width: 60rem;
      display: block;
      overflow-x: initial;
      .home__lista-rutas {
        width: 100%;
        overflow-x: initial;
        padding-inline: initial;
        &--link {
          figure {
            width: 12rem;
            height: 11.5rem;
          }
          p {
            font-size: 19.2px;
            line-height: 28.8px;
          }
        }
      }
      .slider-controller {
        display: none;
      }
    }
  }

  @include xl {
    nav {
      max-width: 75rem;
      .home__lista-rutas {
        &--link {
          figure {
            width: 15rem;
            height: 14.5rem;
          }
          p {
            font-size: 24px;
            line-height: 30.36px;
          }
        }
      }
    }
  }
}
