<section class="home show">
  <div id="viewTarget"></div>
  <nav>
    <ul class="home__lista-rutas">
      <a routerLink="/empresas" id="L" class="home__lista-rutas--link" #L>
        <figure>
          <img src="/assets/images/Header/01empresas.png" alt="ir a Empresas" class="L">
          <img src="/assets/images/Header/01empresas-hover.png" alt="ir a Empresas" class="Lhover">
        </figure>
        <p>Empresas</p>
      </a>
      <a routerLink="/soluciones" id="U" class="home__lista-rutas--link" #U>
        <figure>
          <img src="/assets/images/Header/02soluciones.png" alt="ir a Soluciones" class="U">
          <img src="/assets/images/Header/02soluciones-hover.png" alt="ir a Soluciones" class="Uhover">
        </figure>
        <p>Soluciones</p>
      </a>
      <a routerLink="/tecnologia" id="C" class="home__lista-rutas--link" #C>
        <figure>
          <img src="/assets/images/Header/03tecnologia.png" alt="ir a Tecnología" class="C">
          <img src="/assets/images/Header/03tecnologia-hover.png" alt="ir a Tecnología" class="Chover">
        </figure>
        <p>Tecnología</p>
      </a>
      <a routerLink="/consumidores" id="R" class="home__lista-rutas--link" #R>
        <figure>
          <img src="/assets/images/Header/04consumidores.png" alt="ir a Consumidores" class="R">
          <img src="/assets/images/Header/04consumidores-hover.png" alt="ir a Consumidores" class="Rhover">
        </figure>
        <p>Consumidores</p>
      </a>
      <a routerLink="/contactenos" id="O" class="home__lista-rutas--link" #O>
        <figure>
          <img src="/assets/images/Header/05contactenos.png" alt="ir a Contáctenos" class="O">
          <img src="/assets/images/Header/05contactenos-hover.png" alt="ir a Contáctenos" class="Ohover">
        </figure>
        <p>Contáctanos</p>
      </a>
    </ul>
    <ul class="slider-controller">
      <span class="slider-controller__circle active" id="Lc" (click)="goToL()"></span>
      <span class="slider-controller__circle" id="Uc" (click)="goToU()"></span>
      <span class="slider-controller__circle" id="Cc" (click)="goToC()"></span>
      <span class="slider-controller__circle" id="Rc" (click)="goToR()"></span>
      <span class="slider-controller__circle" id="Oc" (click)="goToO()"></span>
    </ul>
  </nav>
  <div class="allies">
    <p>Nuestros Aliados</p>
    <span class="v-line"></span>
    <ul class="allies-brands">
      <a style="display:none" href="https://www.sap.com/latinamerica/partner.html" target="_blank">
        <img
          class="allies-brands__1"
          src="/assets/images/aliados/image 63.png"
          alt="SAP partner brand"
        />
      </a>
      <a href="https://aws.amazon.com/es/" target="_blank">
        <img
          class="allies-brands__2"
          src="/assets/images/aliados/aws.png"
          alt="Powered AWS"
        />
      </a>
      <a href="https://cloud.google.com/" target="_blank">
        <img
          class="allies-brands__2"
          src="/assets/images/aliados/image 64.png"
          alt="Google cloud partner brand"
        />
      </a>
      <a href="https://www.endeavor.org.co/programas-endeavor/scale-up-2022/" target="_blank">
        <img
          class="allies-brands__2"
          src="/assets/images/aliados/scale_up.png"
          alt="Scale Up"
        />
      </a>
    </ul>
  </div>
</section>
