<section class="beliefs">
  <div class="beliefs__image">
    <img src="../../../assets/images/Ellipse 44.svg" class="beliefs__image1">
    <img src="../../../assets/images/Ellipse 42.svg" class="beliefs__image2">
    <img src="../../../assets/images/Ellipse 43.svg" class="beliefs__image3">
    <img src="../../../assets/images/Group 31.svg" class="beliefs__image4">
    <img src="../../../assets/images/satisfied-couple-making-fist-bump-gesture 2.png" class="beliefs__image5">
  </div>
  <article class="beliefs__text">
    <h2 class="beliefs__text--title">¿En qué creemos?</h2>
    <p class="beliefs__text--paragraph">En Lucro creemos en la participación de cada individuo en la sociedad y en la inclusión de todos sin importar sus diferencias de pensamiento, orientación sexual y creencias, por eso contamos con un equipo diverso de profesionales, colaboradores y líderes que trabajan día a día por generar una buena experiencia de usuario y utilizar nuestra tecnología para crear plataformas y recursos que generen un impacto positivo en las empresas.</p>
  </article>
</section>
