<section class="purpose">
  <div class="purpose__image">
    <img src="../../../assets/images/Path 997.svg" class="purpose__image1">
    <img src="../../../assets/images/Group 1461.svg" class="purpose__image2">
    <img src="../../../assets/images/Group 31.png" class="purpose__image3">
    <img src="../../../assets/images/concentrated-dark-skinned-freelancer-holds-paper-documents-and-mobile-phone-works-remotely-in-coworking-space-watches-digital-online-webinar-thinks-about-organisation-plan 1.png" class="purpose__image4">
  </div>
  <article class="purpose__text">
    <h1 class="purpose__text--title">Nuestro propósito</h1>
    <p class="purpose__text--paragraph">Somos una empresa colombiana orientada a ofrecer servicios de tecnología, soluciones de software y transformación digital para empresas. Para Lucro, la investigación e inmersión profunda sobre los datos estadísticos del consumidor y el mercado garantizan el éxito en las estrategias empresariales. Investigación, análisis de datos, estrategia y ejecución son los pilares que defendemos. Esto ha hecho que grandes empresas líderes en Colombia trabajen de la mano con Lucro-inside para potencializar su core de negocio.</p>
  </article>
  <img src="../../../assets/images/Vector.svg" class="backLogo">
</section>
